<p>Bonjour <%= name %></p>

<p>Vous avez été invité à joindre Humanitarian ID – un système autonome pour gérer les contacts des acteurs humanitaires. Pour ajouter vos détails et pour rentrer en contact avec d'autres humanitaires, nous vous prions de bien vouloir vous enregistrer en utilisant le lien ci-dessous.</p>

<p><a href="<%= reset_url %>"><%= reset_url %></a></p>

<% include ../../includes/footer_fr %>
