<p>Bonjour <%= given_name %>,</p>

<p>Votre compte Humanitarian ID a été créé avec succès ! Pour savoir à quels sites web vous pouvez vous connecter en utilisant votre compte, consultez la liste des <a href="https://about.humanitarian.id/partners-using-our-authentication-service">plateformes partenaires</a>.</p>

<p>Cordialement,</p>
<% include ../../includes/footer_fr %>
