<p>Bonjour <%= user.name %>,</p>
<p>Vous vient d'ajouter cette adresse email à votre profil Humanitarian ID. Veuillez s'il vous plaît la confirmer en cliquant sur le lien ci-dessous:</p>
<a href="<%= reset_url %>"><%= reset_url %></a>

<% include ../../includes/footer_fr %>
