<p>Dear <%= user.name %>,</p>

<p>Thank you for checking into <a href="<%= params.list.getAppUrl() %>"><%= params.list.name %></a> two days ago. You can now find contact details of other humanitarians.</p>

<% if (!hasLocalPhoneNumber) { %>
<p>We noticed that you have not yet added a local phone number. If you have one and would like to add it, simply  update your profile.</p>
<% } %>

<p>The ability for responders to find and connect during a humanitarian crisis is of utmost importance. Humanitarian ID takes a decentralized approach to contact lists and thus relies on members like yourself to help keep these lists up-to-date.</p>

<% include ../includes/footer_en %>
