<p>Cher(e) <%= user.given_name %></p>

<p>Merci de vous être enregistré(e) sur Humanitarian ID - un système de gestion de contact pour la communauté humanitaire.</p>

<p>Veuillez terminer l'inscription en utilisant le lien ci-dessous. Vous pourrez alors créer le mot de passe de votre choix. Humanitarian ID vous donne le contrôle de vos données sur des listes de contacts humanitaires. Notez que votre compte sera supprimé si il n'est pas utilisé dans les 7 jours.</p>

<p><a href="<%= reset_url %>"><%= reset_url %></a></p>

<p>Si vous souhaitez en savoir plus sur Humanitarian ID et être le premier à entendre parler de nouvelles fonctionnalités, visitez le site : <a href="http://humanitarian.id">http://humanitarian.id</a>, rejoignez notre liste de diffusion (<a href="http://humanitarian.id/subscribe">http://humanitarian.id/subscribe</a>) et suivez-nous sur les réseaux sociaux.</p>

<% include ../../includes/footer_fr %>

