<p>Dear <%= user.name %>,</p>

<p><a href="<%= createdBy.getAppUrl() %>"><%= createdBy.name %></a> has noticed that some of your contact details on your profile on Humanitarian ID may need to be updated.</p>

<p>We suggest that you review your details to ensure that everything is up-to-date including your job title, organzation, group membership, phone number(s), email address(-es), and so on.</p>

<p>To review and update your details, simply login to Humanitarian ID (http://humanitarian.id/login) and view your global profile.</p>

<p>Accurate contact lists in humanitarian situations are of critical importance. As a self-managed approach to contact lists, we rely on members like yourself to help keep these lists up-to-date.</p>

<p>If you believe that this email was sent incorrectly or inappropriately, please let us know at info@humanitarian.id.</p>

<% include ../includes/footer_en %>
