<p>Bonjour <%= given_name %>,</p>

<p>Bienvenue dans la communauté Humanitarian ID !</p>

<p>Veuillez suivre ces étapes pour vous connecter :</p>

<ol>
  <li>Connectez-vous sur: <a href="https://humanitarian.id">https://humanitarian.id</a>.</li>
  <li>Complétez votre profil pour que vos collègues puissent vous retrouver et vous contacter (<a href="<%= profile_url %>"><%= profile_url %></a>)</li>
  <li>Connectez-vous (check-in) au pays dans lequel vous répondez à une crise humanitaire. Cette étape vous ajoute automatiquement à la liste de contacts humanitaires (<a href="https://humanitarian.id/checkin">https://humanitarian.id/checkin</a>)</li>
</ol>

<p>Les membres de la communauté Humanitarian ID sont obligés d’adhérer à notre code de conduite. Nous vous encourageons à le lire ! <a href="https://about.humanitarian.id/code-of-conduct">https://about.humanitarian.id/code-of-conduct</a></p>

<p>Si vous voulez en savoir plus sur Humanitarian ID et ses nouveautés, visitez <a href="https://about.humanitarian.id">https://about.humanitarian.id</a>, suivez notre liste de diffusion (<a href="https://about.humanitarian.id/subscribe">https://about.humanitarian.id/subscribe</a>) et suivez-nous sur les réseaux sociaux.</p>

<% include ../../includes/footer_fr %>
