<p>Bonjour <%= user.name %>,</p>

<p>Votre compte a été automatiquement supprimé de Humanitarian ID car l'étape de vérification n'a pas été effectuée dans les sept jours.</p>

<p>Si vous avez encore besoin d'un compte Humanitarian ID, visitez <a href="<%= registerLink %>"><%= registerLink %></a>, créez un nouveau compte et assurez-vous de le vérifier dans les sept jours. Afin de vérifier le compte, vous devez cliquer sur le lien envoyé à votre adresse électronique après avoir soumis le formulaire d'inscription.</p>

<p>Bien cordialement,</p>
<%- include('../../includes/footer_fr') %>
