<p>Dear <%= user.name %>,</p>

<p>Your account has been automatically removed from Humanitarian ID since the verification step was not completed within seven days.</p>

<p>If you still need a Humanitarian ID account, go to <a href="<%= registerLink %>"><%= registerLink %></a>, create a new account, and make sure to verify it  within seven days. In order to verify the account, you must click on the link sent to your email address after submitting the registration form.</p>

<p>Kind regards,</p>
<%- include('../includes/footer_en') %>
