<p>Dear <%= user.name %>,</p>

<p><%= createdBy.name %> has added you to the <%= params.list.name %> contact list on Humanitarian ID - a contact management system for the humanitarian community. To update or add more details and connect with other responders, please log in at <a href="https://humanitarian.id">humanitarian.id</a>.</p>

<% include ../includes/footer_en %>

