<p>Dear <%= user.name %>,

<p>You (or someone else) just added this email address to your profile. Please confirm this email address by clicking on the following link:</p>

<p><a href="<%= reset_url %>"><%= reset_url %></a></p>

<% include ../includes/footer_en %>
