<p>Bonjour <%= user.name %>,</p>

<p>Merci de vous être inscrit à <a href="<%= params.list.getAppUrl() %>"><%= params.list.name %></a> il y a deux jours. Vous pouvez maintenant trouver les informations de contacts des autres humanitaires.</p>

<p>La possibilité pour les humanitaires de se trouver et se contacter durant une crise est extrêmement importante. Humanitarian ID adopte une approche décentralisée des listes de contact et compte donc sur ses membres tels que vous pour aider à maintenir les listes de contact à jour.</p>

<% include ../../includes/footer_fr %>
