<p>Dear <%= user.name %>,</p>

<p><%= createdBy.name %> gave you manager permissions on the list <%= params.list.name %> on Humanitarian ID.</p>

<p>With the link below, you can manage the contact list. You can also find it under your personal "Lists I manage" on your dashboard at any time.</p>

<p><a href="">Click here to open the list TODO</a></p>

<% include ../includes/footer_en %>

