<p>Bonjour <%= user.name %>,</p>

<p>Nous aimerions vous informer que votre profil sur Humanitarian ID a été modifié par un de nos gestionnaires, <a href="<%= createdBy.getAppUrl() %>"><%= createdBy.name %></a>.</p>

<p>Nous vous invitons à vérifier votre profil pour vous assurer que les informations mises à jour sont correctes.</p>

<% include ../../includes/footer_fr %>
