<p>Bonjour <%= name %>,</p>

<p>Nous sommes ravis que vous ayez rejoint la communauté d’Humanitarian ID. Nous vous prions de bien vouloir confirmer votre compte en cliquant sur le lien ci-dessous. Veuillez s'il vous plaît vous assurer de confirmer votre compte dans les 7 prochains jours, sinon votre compte sera supprimé.</p>

<p>Nous sommes actuellement en train d’élargir l’intégration avec d’autres sites humanitaires, votre compte aura donc accès à encore plus de ressources. En outre, vous allez avoir accès à la solution de la gestion des contacts « Humanitarian ID » !</p>

<a href="<%= reset_url %>"><%= reset_url %></a>

<% include ../../includes/footer_fr %>
