<p>Dear <%= given_name %></p>

<p>Welcome to the Humanitarian ID community!</p>

<p>Please make sure that you complete the following simple steps to get connected:</p>

<ol>
  <li>Login: <a href="https://humanitarian.id">https://humanitarian.id</a></li>
  <li>Fill in your profile so colleagues can find and contact you (<a href="<%= profile_url %>"><%= profile_url %></a>)</li>
  <li>Check into any country where you are responding. This step will add you to the contact list (<a href="https://humanitarian.id/checkin">https://humanitarian.id/checkin</a>)</li>
</ol>

<p>Humanitarian ID community members are subject to our code of conduct. It's a short read, and we encourage you to be familiar with it. <a href="http://about.humanitarian.id/code-of-conduct">http://about.humanitarian.id/code-of-conduct</a></p>

<p>If you would like to learn more about Humanitarian ID and be the first to hear about new features, visit <a href="http://about.humanitarian.id">http://about.humanitarian.id</a>, join our mailing list (<a href="http://about.humanitarian.id/subscribe">http://about.humanitarian.id/subscribe</a>) and follow us on social media.</p>

<% include ../includes/footer_en %>
