<p>Dear <%= given_name %></p>

<p>Your Humanitarian ID account has been succesfully created! To find out which websites you can log into using your account check the list of <a href="https://about.humanitarian.id/partners-using-our-authentication-service">partner platforms</a>.</p>

<p>Kind regards,</p>
<%- include('../includes/footer_en') %>
