<p>Dear <%= name %>,</p>

<p>We received a request to reset your password on Humanitarian ID. To make the change, simply follow the link below and provide your new password.</p>

<p>If you did not request a password reset, kindly forward this email to info@humanitarian.id.</p>

<p><a href="<%= reset_url %>"><%= reset_url %></p>

<% include ../includes/footer_en %>

