.viz-toggle {
  display: block;
  width: 26px;
  height: 26px;
  border: 0;
  border-radius: 3px; /* see :focus */
  background-color: transparent;
  background-image: url(/assets/img/icons/toggle-see.svg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size:  24px 24px;

  /* position so it appears like it's inside the input */
  position: absolute;
  top: 30px;
  right: 6px;
}

@media screen and (min-width: 1024px) {
  .viz-toggle {
    top: 33px;
  }
}

.viz-toggle:focus {
  outline: none;
  box-shadow: 0 0 0 2px black;
}

.viz-toggle--see {}

.viz-toggle--hide {
  background-image: url(/assets/img/icons/toggle-hide.svg);
}
