<p>Dear <%= name %>,</p>

<p>We received a request to reset your password on Humanitarian ID. To make the change, simply follow the link below and provide your new password.</p>

<p><a href="<%= reset_url %>"><%= reset_url %></a></p>

<p>Please note that this is a one-time use link. If you need to reset your password again, please click here: <a href="<%= appResetUrl %>">Reset your password</a>.</p>

<p>If you do not want to reset your password, please ignore this message and your password will not be changed. If you have any questions or concerns, please contact us at Humanitarian ID Support (info@humanitarian.id).</p>

<% include ../includes/footer_en %>
