<p>Bonjour <%= user.name %>,</p>

<p><%= createdBy.name %> vient juste de vous inscrire au service "<%= params.service.name %>" sur Humanitarian ID.</p>

<p>Si vous ne voulez pas être inscrit, veuillez vous connecter sur Humanitarian ID et vous désinscrire de "<%= params.service.name %>".</p>

<% include ../../includes/footer_fr %>
