<p>Dear <%= user.name %>,</p>

<p>Your Humanitarian ID password is about to expire in 30 days.</p>

<p>To change your password, follow the instructions below:</p>

<ol>
  <li>Go to: <a href="https://humanitarian.id">https://humanitarian.id</a></li>
  <li>Log in with your email address and your current password.</li>
  <li>Click on your name (upper-right hand corner) and choose ‘Preferences’.</li>
  <li>Under ‘Preferences’ click on ‘Change Password’.</li>
  <li>Type your current password and then your new password. Retype your new password again to confirm it and click on ‘Update Password’.</li>
</ol>

<p>If you have any questions, do not hesitate to contact us.</p>

<p>Thank you,</p>

<% include ../includes/footer_en %>
