{{ attach_library('common_design/cd-grid') }}

<h2>default col</h2>
<div class="cd-grid cd-grid--background">
  <div>Grid item</div>
  <div>Grid item</div>
  <div>Grid item</div>
  <div>Grid item</div>
</div>
<hr>

<h2>2 col</h2>
<div class="cd-grid cd-grid--2-col">
  <div>Grid item</div>
  <div>Grid item</div>
  <div>Grid item</div>
  <div>Grid item</div>
  <div>Grid item</div>
</div>
<hr>

<h2>2 col with grow</h2>
<div class="cd-grid cd-grid--2-col cd-grid--grow">
  <div>Grid item</div>
  <div>Grid item</div>
  <div>Grid item</div>
  <div>Grid item</div>
  <div>Grid item</div>
</div>
<hr>

<h2>3 col</h2>
<div class="cd-grid cd-grid--3-col">
  <div>Grid item</div>
  <div>Grid item</div>
  <div>Grid item</div>
  <div>Grid item</div>
  <div>Grid item</div>
</div>
<hr>

<h2>3 col with grow</h2>
<div class="cd-grid cd-grid--3-col cd-grid--grow">
  <div>Grid item</div>
  <div>Grid item</div>
  <div>Grid item</div>
  <div>Grid item</div>
  <div>Grid item</div>
</div>
<hr>

<h2>4 col</h2>
<div class="cd-grid cd-grid--4-col">
  <div>Grid item</div>
  <div>Grid item</div>
  <div>Grid item</div>
  <div>Grid item</div>
  <div>Grid item</div>
</div>

<h2>4 col with grow</h2>
<div class="cd-grid cd-grid--4-col cd-grid--grow">
  <div>Grid item</div>
  <div>Grid item</div>
  <div>Grid item</div>
  <div>Grid item</div>
  <div>Grid item</div>
</div>
