<p>Dear <%= user.name %>,</p>

<p>As per our email 12 days ago, you have now been automatically checked out of <%= params.list.name %> as it is 14 days passed the departure date that you set for the list <%= params.list.name %>.</p>

<p>If you are still responding to an emergency in <%= params.list.name %>, you will need to check-in again.</p>

<% include ../includes/footer_en %>
