<p>Dear <%= user.name %>,</p>

<p>Thank you for being a member of Humanitarian ID.</p>
<p>We would like to inform you that the contact management features of HID will be decommissioned in January 2021, in line with its technology framework approaching <a href="https://blog.angular.io/stable-angularjs-and-long-term-support-7e077635ee9c">end-of-life</a>. Please note that you can continue using the platform until this date, however we recommend that you <a href="https://docs.google.com/document/d/14x-wL1Yr0Il4gKgVuMxlP3GnaVyanS-QFhgUcCe1M50/edit?usp=sharing">export any relevant contacts and lists</a> from the platform before then.</p>
<p>Please note that this <strong>will NOT affect the HID Authentication service</strong> (HID login) which will remain functional and you will continue to be able to access HID’s <a href="https://about.humanitarian.id/partners-using-our-authentication-service">integrated platforms</a> using your current credentials.</p>
<p>If you have any questions on these changes or require support please reach out to us at info@humanitarian.id.</p>
<br>
<p>Kind regards,</p>

<% include ../includes/footer_en %>
