<p>Dear <%= user.name %>,</p>

<p>To follow on from our earlier communication in May, we would like to remind you that the contact management features of Humanitarian ID (HID) will be decommissioned on the 1st of January 2021.</p>
<p>From the decommissioning date, all list and contact data within HID will no longer be available. We therefore strongly recommend that you export any relevant data you have been maintaining within HID; an <a href="https://docs.google.com/document/d/14x-wL1Yr0Il4gKgVuMxlP3GnaVyanS-QFhgUcCe1M50/edit">exporting guide can be found here</a>.</p>
<p>Please note that your ability to log in to HID’s <a href="https://about.humanitarian.id/partners-using-our-authentication-service">integrated platforms</a> with an existing HID account will remain unaffected by these changes.</p>
<p>Starting now, the HID team will no longer provide quality control of  contact data held within HID and will only guarantee support to requests related to authentication (login).</p>

<br>
<p>Kind regards,</p>

<% include ../includes/footer_en %>
