<p>Dear <%= user.name %>,</p>

<p>You received this message because an additional email, <%= emailAdded %>, has been added to your profile for login purposes.</p>
<p>If you have taken this action, please disregard this email.</p>
<p>However, if did not add this email address or the above is not your email address, please log into your account immediately to review everything.</p>

<p>Kind regards,</p>
<% include ../includes/footer_en %>
