<p>Dear <%= user.name %>,</p>

<p>You received this message because an additional email, <%= emailAdded %>, has been added to your profile.</p>

<p>If you have taken this action, please disregard this email.</p>

<p>However, if the above is not your email address, please contact us directly at <a href="mailto:info@humanitarian.id">info@humanitarian.id</a>.</p>

<p>Kind regards,</p>

<% include ../includes/footer_en %>
