<p>Bonjour <%= user.name %>,</p>

<p>Votre mot de passe Humanitarian ID va expirer dans 30 jours.</p>

<p>Pour changer votre mot de passe, suivez les instructions ci-dessous:</p>

<ol>
  <li>Allez à: <a href="https://humanitarian.id">https://humanitarian.id</a></li>
  <li>Connectez-vous avec votre adresse email et votre mot de passe.</li>
  <li>Cliquez sur votre nom (en haut à droite) et choisissez 'Préférences'.</li>
  <li>Sous 'Préférences' cliquez sur 'Modifier le mot de passe'.</li>
  <li>Tapez votre mot de passe actuel et votre nouveau mot de passe. Tapez à nouveau votre mot de passe pour confirmer et cliquez sur le bouton 'Modifier le mot de passe'.</li>
</ol>

<p>Si vous avez des questions, n'hésitez pas à nous contacter.</p>

<p>Merci,</p>

<% include ../../includes/footer_fr %>
