<p>Bonjour <%= name %>,</p>

<p>Merci d'avoir rejoint Humanitarian ID. Pour terminer l'inscription, confirmez le compte en cliquant sur le lien ci-dessous. Veuillez noter qu'il s'agit d'un lien à usage unique et qu'il restera valide pendant 24 heures.</p>

<a href="<%= reset_url %>"><%= reset_url %></a>

<p>Si le lien a expiré, vous pouvez en demander un nouveau, en cliquant ici : <a href="https://auth.humanitarian.id/password">Demander un nouveau lien</a></p>

<p>Veuillez vous assurer de confirmer votre compte dans les 7 prochains jours, sinon il sera supprimé.</p>

<p>Cordialement,</p>
<% include ../../includes/footer_fr %>
