/**
 * CD Utility: flow
 *
 * @see https://cube.fyi
 */

.cd-flow > * + * {
  margin-top: var(--cd-flow-space, 1rem);
}

.cd-flow > .visually-hidden:first-child + * {
  margin-top: 0;
}

[dir="ltr"] .cd-bumper > * + * {
  padding-left: var(--cd-bumper-space, 1rem);
}

/*
[dir='ltr'] .cd-bumper > *:not(:last-child) {
  padding-right: var(--cd-bumper-space, 1rem);
}
*/

[dir="rtl"] .cd-bumper > * + * {
  padding-right: var(--cd-bumper-space, 1rem);
}
