<p>Bonjour <%= user.name %>,</p>

<p><%= admin.name %> a supprimé votre compte.</p>

<p>Si cette action a été effectuée par erreur, veuillez envoyer un courriel à <a href="mailto:info@humanitairan.id">info@humanitairan.id</a>.
 Vous pouvez aussi recréer un nouveau compte à <a href="https://auth.humanitarian.id/register">https://auth.humanitarian.id/register</a>.</p>

<p>Bien cordialement,</p>
<% include ../../includes/footer_fr %>
