<p>Bonjour <%= user.name %>,</p>

<p>Vous recevez ce message parcequ'une nouvelle adresse email, <%= emailAdded %>, a été ajoutée à votre profil Humanitarian ID.</p>

<p>Si vous avez effectué cette action ou demandé à un manager Humanitarian ID de l'effectuer pour vous, vous pouvez ignorer ce message.</p>

<p>En revanche, si l'adresse email citée ci-dessus ne vous appartient pas, contactez nous immédiatement à info@humanitarian.id !</p>

<p>Cordialement,</p>

<% include ../../includes/footer_fr %>
