<p>Cher <%= user.name %>,</p>
<p>Vous avez reçu ce message car un e-mail supplémentaire, <%= emailAdded %>, a été ajouté à votre profil à des fins de connexion.</p>
<p>Si vous avez pris cette mesure, veuillez ne pas tenir compte de cet e-mail.</p>
<p>Cependant, si vous n'avez pas ajouté cette adresse e-mail ou si l'adresse ci-dessus n'est pas votre adresse e-mail, veuillez vous connecter immédiatement à votre compte pour tout vérifier.</p>
<p>Bien cordialement,</p>

<% include ../includes/footer_fr %>
