<p>Bonjour <%= user.name %>,</p>

<p>Vous avez reçu ce message car une adresse électronique supplémentaire, <%= emailAdded %>, a été ajoutée à votre profil à des fins de connexion.</p>
<p>Si vous avez pris cette mesure, veuillez ne pas tenir compte de ce courriel.</p>
<p>Cependant, si vous n'avez pas ajouté cette adresse électronique ou si l'adresse ci-dessus n'est pas votre adresse électronique, veuillez vous connecter immédiatement à votre compte pour tout vérifier.</p>

<p>Bien cordialement,</p>
<% include ../../includes/footer_fr %>
