<p>Cher/chère <%= user.name %>,</p>

<p>En tant qu'utilisateur du service d'authentification de Humanitarian ID (HID login), vous savez peut-être que les fonctionnalités de gestion des listes de contacts de HID seront mises hors service en janvier 2021.</p>
<p>Nous tenons à souligner que ces modifications n'affecteront PAS le service d'authentification et votre capacité à accéder à toutes <a href="https://about.humanitarian.id/partners-using-our-authentication-service">les plateformes intégrées</a> avec HID à l'aide de vos informations d'identification actuelles.</p>
<p>Aucune autre action n'est requise de votre part, mais si vous avez des questions sur ces changements ou si vous avez besoin d'assistance, contactez-nous à info@humanitarian.id.</p>
<br>
<p>Bien cordialement,</p>

<% include ../../includes/footer_fr %>
