/**
 * CD Alert
 */

.cd-alert {
  --cd-flow-space: 0.5rem;
  --cd-alert-color: var(--cd-blue--bright);
  --cd-alert-color-bg: var(--cd-white);

  margin: 1rem 0 2rem;
  padding: 1rem;
  color: var(--cd-grey--dark);
  border: 1px solid var(--cd-alert-color);
  border-radius: 0.25rem;
  background-color: var(--cd-alert-color-bg);
  box-shadow: -8px 0 0 var(--cd-alert-color);
}

.cd-alert > div[role] {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

.cd-alert svg {
  flex: 0 0 1.5rem;
  width: 1.5rem;
  height: 1.5rem;
  fill: var(--cd-alert-color);
}

.cd-alert__message p {
  margin: 0;
}

.cd-alert__message a,
.cd-alert__message a:hover,
.cd-alert__message a:focus {
  color: inherit;
}

/**
 * Message types
 *
 * The "info" type is the default style defined above in the `.cd-alert` rule.
 * The remaining message types are defined here according to a modifier class.
 */

/* Error */
.cd-alert--error {
  --cd-alert-color: var(--cd-red);
  --cd-alert-color-bg: var(--cd-red--light);
}

/* Warning */
.cd-alert--warning {
  --cd-alert-color: var(--cd-orange);
  --cd-alert-color-bg: var(--cd-orange--light);
}

/* Status */
.cd-alert--status {
  --cd-alert-color: var(--cd-green);
  --cd-alert-color-bg: var(--cd-green--light);
}
