<p>Dear <%= user.name %>,</p>

<p>As a user of Humanitarian ID Authentication (HID login) service you may be aware that contact list management features of HID will be decommissioned in January 2021.</p>
<p>We would like to underline that these changes will NOT affect the authentication service and your ability to access all HID <a href="https://about.humanitarian.id/partners-using-our-authentication-service">integrated platforms</a> using your current credentials.</p>
<p>No further action is required from you, however if you have any questions on these changes or require support please reach out to us at info@humanitarian.id.</p>
<br>
<p>Kind regards,</p>

<% include ../includes/footer_en %>
