<section id="cd-ocha-services" class="cd-ocha">
  <h2 id="cd-ocha-services-title">OCHA Services</h2>

  <div class="cd-global-header__dropdown cd-ocha-dropdown cd-dropdown" id="cd-ocha-dropdown" aria-labelledby="cd-ocha-services-title" data-cd-toggable="OCHA Services" data-cd-icon="arrow-down" data-cd-logo="ocha-logo" data-cd-component="cd-ocha" data-cd-replace="cd-ocha-services-title">
    <div class="cd-ocha-dropdown__inner">
      <div class="cd-ocha-dropdown__section">
        <p class="cd-ocha-dropdown__heading">Related Platforms</p>
        <ul class="cd-ocha-dropdown__list">
          <li class="cd-ocha-dropdown__link"><a href="https://about.humanitarian.id/faqs">HID FAQs</a></li>
          <li class="cd-ocha-dropdown__link"><a href="https://gms.unocha.org/">Grant Management System</a></li>
          <li class="cd-ocha-dropdown__link"><a href="https://humanitarianaction.info/">Humanitarian Action</a></li>
          <li class="cd-ocha-dropdown__link" aria-hidden="true">&nbsp;</li>
        </ul>
      </div>
      <div class="cd-ocha-dropdown__section">
        <p class="cd-ocha-dropdown__heading">Other OCHA Services</p>
        <ul class="cd-ocha-dropdown__list">
          <li class="cd-ocha-dropdown__link"><a href="https://fts.unocha.org/">Financial Tracking Service</a></li>
          <li class="cd-ocha-dropdown__link"><a href="https://data.humdata.org/">Humanitarian Data Exchange</a></li>
          <li class="cd-ocha-dropdown__link"><a href="https://auth.humanitarian.id/">Humanitarian ID</a></li>
          <li class="cd-ocha-dropdown__link"><a href="https://response.reliefweb.int/">ReliefWeb Response</a></li>
        </ul>
      </div>
      <div class="cd-ocha-dropdown__section">
        <p class="cd-ocha-dropdown__heading" aria-hidden="true">&nbsp;</p>
        <ul class="cd-ocha-dropdown__list">
          <li class="cd-ocha-dropdown__link"><a href="https://interagencystandingcommittee.org/">Inter-Agency Standing Committee</a></li>
          <li class="cd-ocha-dropdown__link"><a href="https://unocha.org/">OCHA website</a></li>
          <li class="cd-ocha-dropdown__link"><a href="https://reliefweb.int/">ReliefWeb</a></li>
          <li class="cd-ocha-dropdown__link"><a href="https://vosocc.unocha.org/">Virtual OSOCC</a></li>
        </ul>
      </div>
      <div class="cd-ocha-dropdown__section">
        <a class="cd-button cd-button--light cd-button--bold cd-button--uppercase cd-ocha-dropdown__see-all" href="https://www.unocha.org/ocha-digital-services" target="_blank" rel="noopener">See all</a>
      </div>
    </div>
  </div>
</section>
