<!DOCTYPE html>
<html class="no-js" lang="en-US" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Humanitarian ID</title>
    <meta name="description" content="Authentication page for Humanitarian ID">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/assets/img/favicon.ico" type="image/vnd.microsoft.icon">
    <link rel="stylesheet" href="/assets/css/hid.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,400;1,700&amp;display=swap" />

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-NZ6C3RP');</script>
<!-- End Google Tag Manager -->
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NZ6C3RP" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <a href="#main-content" class="visually-hidden focusable skip-link">
      Skip to main content
    </a>
    <div class="cd-page-layout-container"><!-- intentionally unclosed! -->
      <header class="cd-header" role="banner">
        <div class="cd-global-header">
          <div class="cd-container cd-global-header__inner">
            <div id="cd-global-header__actions" class="cd-global-header__actions">

              <div class="cd-global-header__language-switcher">
                <div class="cd-language-switcher" uib-dropdown keyboard-nav="true">
                  <span class="cd-user-menu__item cd-user-menu__item--small cd-global-header__dropdown-btn t-lang-btn" id="cd-language-toggle">English</span>
                </div>
              </div>

              <nav role="navigation" class="block block-menu navigation menu--account cd-global-header__user-menu">
                <h2 class="visually-hidden">User menu</h2>
                <ul class="menu cd-user-menu" data-cd-menu-level="0">
                  <% if (locals.user) { %>
                    <li class="menu-item menu-item--expanded">
                      <a href="/" id="cd-user-menu-0-item-1">
                        <svg class="cd-icon cd-icon--user" aria-hidden="true" focusable="false" width="16" height="16">
                          <use xlink:href="#cd-icon--user"></use>
                        </svg>
                        <span><%= locals.user.name %></span>
                      </a>
                      <ul data-cd-toggable="<%= locals.user.name %>" data-cd-icon="arrow-down" data-cd-component="cd-user-menu"  data-cd-replace="cd-user-menu-0-item-1" id="cd-user-menu-0-1" data-cd-logo="user" class="menu cd-global-header__dropdown cd-user-menu__dropdown" data-cd-menu-level="1">
                        <li class="menu-item">
                          <a href="/profile" class="user-profile" id="cd-user-menu-0-1-item-1">Profile</a>
                        </li>
                        <li class="menu-item">
                          <a href="/settings" class="user-settings" id="cd-user-menu-0-1-item-2">Settings</a>
                        </li>
                        <% if (locals.user.is_admin) { %>
                        <li class="menu-item">
                          <a href="/admin" class="user-admin" id="cd-user-menu-0-1-item-4">Admin</a>
                        </li>
                        <% } %>
                        <li class="menu-item">
                          <a href="/logout" class="user-logout" id="cd-user-menu-0-1-item-3">Log out</a>
                        </li>
                      </ul>
                    </li>
                  <% } else { %>
                    <!-- anonymous user-login link -->
                    <li class="menu-item">
                      <a href="/" id="cd-user-menu-0-item-1">
                        <svg class="cd-icon cd-icon--user" aria-hidden="true" focusable="false" width="16" height="16"><use xlink:href="#cd-icon--user"></use></svg>
                        <span>Log in</span>
                      </a>
                    </li>
                  <% } %>
                </ul>
              </nav>

            </div>
          </div>
        </div>

        <div class="cd-site-header">
          <div class="cd-container cd-site-header__inner">
            <div class="region region-header-logo">
              <h1>
                <a href="/" class="cd-site-logo t-logo-link">
                  <img src="/assets/img/logos/hid-logo.svg" alt="Humanitarian ID">
                </a>
              </h1>
            </div>

            <div class="cd-site-header__actions">
              <div class="cd-site-header__nav-holder">
                <nav role="navigation" id="block-mainnavigation" aria-labelledby="block-mainnavigation-menu" data-cd-toggable="Menu" data-cd-component="cd-nav" data-cd-icon="arrow-down" class="block block-menu navigation menu--main cd-nav cd-site-header__nav">
                  <h2 class="visually-hidden" id="block-mainnavigation-menu">Main navigation</h2>
                  <ul class="menu cd-nav__menu--level-1" role="list">
                    <li class="menu-item cd-nav__menu-item--level-1">
                      <a href="https://about.humanitarian.id/partners-using-our-authentication-service.html" class="cd-nav__btn cd-nav-level-1__btn" id="cd-nav-item-2-0">
                        <span>Partners</span>
                      </a>
                    </li>
                    <li class="menu-item cd-nav__menu-item--level-1 menu-item--expanded">
                      <a class="cd-nav__btn cd-nav-level-1__btn" id="cd-nav-item-1-0"><span>Support</span></a>
                      <ul data-cd-toggable="Support" data-cd-icon="arrow-down" data-cd-component="cd-nav-level-1" data-cd-replace="cd-nav-item-1-0" id="cd-nav-1-1" class="menu cd-nav__menu--level-2 cd-nav-level-2__dropdown" role="list">
                        <li class="menu-item cd-nav__menu-item--level-2">
                          <a href="https://about.humanitarian.id/developers" class="cd-nav__btn cd-nav-level-2__btn" id="cd-nav-item-1-1">
                            <span>Developer Documentation</span>
                          </a>
                        </li>
                        <li class="menu-item cd-nav__menu-item--level-2">
                          <a href="https://about.humanitarian.id/faqs" class="cd-nav__btn cd-nav-level-2__btn" id="cd-nav-item-1-2">
                            <span><abbr title="Frequently Asked Questions">FAQs</abbr></span>
                          </a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>

          </div>
        </div>
      </header>
