<p>Your password must:</p>
<ol>
  <li>Be at least 12 characters long;</li>
  <li>Be different than your previous five HID passwords;</li>
  <li>Be different than your username;</li>
  <li>Contain all of the following types of characters:
    <ul>
      <li>One number <code>0123456789</code></li>
      <li>One uppercase character <code>ABCDEFGHIJKLMNOPQRSTUVWXYZ</code></li>
      <li>One lowercase character <code>abcdefghijklmnopqrstuvwxyz</code></li>
      <li>One special character <code>!@#$%^&*()+=\`{}[]:";'&lt; &gt;?,./</code></li>
    </ul>
  </li>
  <li>Not be based on a simple word or pattern.</li>
</ol>
<p>We strongly encourage that you use passwords that are not based on personal information such as names of family members, pets, friends, co-workers, birthdays, addresses, phone numbers etc.</p>
<p>We strongly encourage you to use a different password than you use for any other system.</p>
