<p>Dear <%= user.name %>,</p>

<p><%= admin.name %> has deleted your account.</p>

<p>If this action was taken in error, kindly email <a href="mailto:info@humanitairan.id">info@humanitairan.id</a>.
 You can also create a new account at: <a href="https://auth.humanitarian.id/register">https://auth.humanitarian.id/register</a></p>

<p>If you believe that this email was sent incorrectly or inappropriately, please let us know at info@humanitarian.id.</p>

<% include ../includes/footer_en %>
