<p>Dear <%= user.name %>,</p>

<p><%= admin.name %> has deleted your account.</p>

<p>You can create a new account at: <a href="<%= registerLink %>"><%= registerLink %></a></p>

<p>Kind regards,</p>
<% include ../includes/footer_en %>
