<p>Dear <%= user.name %>,</p>

<p>We have noticed that you have not updated your profile over the past six months.</p>

<p>You may want to update your profile by clicking on the following link:</p>

<p><a href="<%= userUrl %>"><%= userUrl %></a></p>

<p>The ability for responders to find and connect during a humanitarian crisis is of utmost importance. Humanitarian ID takes a decentralized approach to contact lists and thus relies on members like yourself to help keep these lists up-to-date.</p>

<% include ../includes/footer_en %>
