/**
 * Common Design: Sites Menu ('OCHA Services')
 */
.cd-ocha h2 {
  color: var(--cd-white);
}

.cd-ocha__btn {
  position: relative;
  display: flex;
  align-items: center;
  height: var(--cd-global-header-height);
  padding: 0 var(--cd-outline-size);
  transition: background 0.3s ease;
  color: var(--cd-white);
  background: transparent;
  font-size: var(--cd-font-size--tiny);
}

.cd-ocha__btn:focus-visible {
  outline-offset: calc(0px - var(--cd-outline-size));
}

.cd-ocha__btn .cd-icon--arrow-down {
  margin: auto; /* Center vertically in macOS 10 */
}

.cd-ocha__logo {
  display: inline-block;
  flex-shrink: 0;
  width: 21px;
  height: 21px;
  fill: var(--cd-white);
}

.cd-ocha-dropdown {
  width: 100%;
  padding: 22px 0;
}

.cd-ocha-dropdown__inner {
  display: flex;
  flex-flow: column nowrap;
  gap: 0 12px;
  max-width: var(--cd-max-width);
  padding: 0 var(--cd-container-padding);
}

.cd-ocha-dropdown__section {
  position: relative; /* For the see-all link */
  margin-bottom: 1.5rem;
}

.cd-ocha-dropdown__heading {
  margin: 0 0 10px;
  padding-bottom: 2px;
  color: var(--brand-grey);
}

.cd-ocha-dropdown__list {
  margin: 0;
  padding: 0;
}

.cd-ocha-dropdown__link {
  display: block;
  margin: 0 0 12px;
  padding: 0;
  font-weight: 700;
}

.cd-ocha-dropdown__link a {
  text-decoration: none;
  color: var(--cd-white);
}

.cd-ocha-dropdown__link a:focus-visible {
  outline-offset: 8px;
}

/**
 * Selector needs to override CD Button because of source order.
 */
.cd-button.cd-ocha-dropdown__see-all {
  display: inline-block;
  width: 100%;
  padding: 10px;
  font-size: var(--cd-font-size--small);
}

@media (max-width: 767px) {
  /* On mobile, the two middle columns should look like one list. */
  .cd-ocha-dropdown__section:nth-child(2) {
    margin-bottom: 0;
  }

  /* There's an invisible heading in the third column to keep the links inside
  column 2/3 in line with each other. It's hidden on mobile. */
  .cd-ocha-dropdown__section:nth-child(3) .cd-ocha-dropdown__heading {
    display: none;
    margin: 0;
    padding: 0;
  }

  .cd-ocha__btn-label {
    position: absolute !important;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    width: 1px;
    height: 1px;
    word-wrap: normal;
  }
}

@media (min-width: 768px) {
  .cd-ocha__btn {
    display: flex;
    width: auto;
  }

  .cd-ocha__btn:hover .cd-ocha__btn-label,
  .cd-ocha__btn:focus .cd-ocha__btn-label {
    text-decoration: underline;
  }

  .cd-ocha__btn .cd-icon--arrow-down {
    margin-inline-start: 4px;
  }

  .cd-ocha__logo {
    margin-inline-end: 4px;
  }

  .cd-ocha-dropdown__inner {
    flex-flow: row nowrap;
    align-items: flex-end;
    margin: 0 auto;
    padding: 0 var(--cd-container-padding-tablet);
  }

  .cd-ocha-dropdown__section {
    flex: 0 1 25%;
    margin-bottom: 0;
  }

  /* it's a cd-button-styled <a> so it has focus styles already */
  .cd-header a.cd-ocha-dropdown__see-all:focus-visible {
    outline: none;
  }
}

@media (min-width: 1200px) {
  .cd-ocha-dropdown__link {
    white-space: nowrap;
  }

  .cd-ocha-dropdown__inner {
    gap: 0 32px;
    padding: 0 var(--cd-container-padding-xlarge);
  }
}

/**
 * When JS is disabled, OCHA Services moves to the footer.
 * Undo the .cd-footer anchor rule affecting the link colour.
 */
.no-js .cd-footer .cd-ocha-dropdown__see-all {
  color: initial;
}

.no-js .cd-footer .cd-ocha {
  width: 100%;
  text-align: left;
}
