/**
 * Composition Classes
 *
 * @see https://piccalil.li/cube-css
 */

.flow > * + * {
  margin-top: 1em;
  margin-top: var(--flow-space, 1em);
}


/**
 * Utility Classes
 */

.element-hidden {
  display: none;
}

.element-invisible {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
}

.element-invisible.element-focusable:active,
.element-invisible.element-focusable:focus {
  position: static !important;
  clip: auto;
  overflow: visible;
  height: auto;
}
