/**
 * Admin: Edit an OAuth client
 */
.oac-client-edit {}

.oac-client-edit fieldset {
  margin: 0;
  border: 0;
  padding: 0;
}
.oac-client-edit legend {
  margin: 0;
  font-size: 1.2em;
}

.oac-client-edit .form-field {}

.oac-client-edit .form-field p {
  --scale-factor: .8;
  max-width: calc(50ch / var(--scale-factor));
  margin: 0;
  color: #666;
  font-size: calc(1em * var(--scale-factor));
}

.oac-client-edit .form-field select {
  width: 50ch;
  padding: .25rem .5rem;
}

.oac-client-edit .form-actions {
  margin-top: 2rem;
}

.oac-admin-edit__submit {}

.oac-admin-edit__reset {}

.oac-admin-edit__cancel {
  line-height: 1.15; /* match <button> --> @see normalize.css */
}
