/* https://github.com/UN-OCHA/common_design/tree/cd-226-design-system/components/cd-alert */

.cd-alert {
  padding: 1rem;
  margin: 1rem 0 2rem;
  border-radius: 0.25rem;
}

.cd-alert,
.cd-alert div[role='alert']{
  display: flex;
  align-items: flex-start;
}

.cd-alert__title {
  font-weight: bold;
}

.cd-alert svg {
  margin-right: 1rem;
  width: 1.5rem;
  height: 1.5rem;
}

.cd-alert {
  border: 1px solid var(--cd-blue--bright);
  box-shadow: -8px 0 0 var(--cd-blue--bright);
  color: var(--cd-grey--dark);
}

.cd-alert svg {
  fill: var(--cd-blue--bright);
}

.cd-alert a,
.cd-alert a:hover,
.cd-alert a:focus {
  color: inherit;
}

.cd-alert--error {
  background: var(--cd-red--light);
  border: 1px solid var(--cd-red);
  box-shadow: -8px 0 0 var(--cd-red);
}

.cd-alert--error svg {
  fill: var(--cd-red);
}

.cd-alert--warning {
  background: var(--cd-orange--light);
  border: 1px solid var(--cd-orange);
  box-shadow: -8px 0 0 var(--cd-orange);
}

.cd-alert--warning svg {
  fill: var(--cd-orange);
}

.cd-alert--status {
  background: var(--cd-green--light);
  border: 1px solid var(--cd-green);
  box-shadow: -8px 0 0 var(--cd-green);
}

.cd-alert--status svg {
  fill: var(--cd-green);
}
