:root {
  /* Define the Primary colour. */
  /* Based on OCHA brand guidelines */
  /* Page 22 https://www.dropbox.com/s/j6tgps8u4u1ht4j/01_visual_identity.pdf?dl=1 */


/* Custom properties for IE.
/* This is needed due to inability to process calc() functions nested within color functions */
  --cd-ie-primary-color: #007faa; /* hsl(195, 100%, 33%) */
  --cd-ie-primary-color--light: #42d0ff;
  --cd-ie-primary-color--dark: #001b24;
  --cd-ie-primary-color--lighter: #70dbff;

  --cd-primary-color-h: 195;
  --cd-primary-color-s: 100%;
  --cd-primary-color-l: 33%;
  --cd-primary-color: hsl(var(--cd-primary-color-h), var(--cd-primary-color-s), var(--cd-primary-color-l));

  /* lighten */
  --cd-primary-color--light: hsl(var(--cd-primary-color-h), var(--cd-primary-color-s), calc(var(--cd-primary-color-l) + 30%));

  /* darken */
  --cd-primary-color--dark: hsl(var(--cd-primary-color-h), var(--cd-primary-color-s), calc(var(--cd-primary-color-l) - 26%));

  /* For cd-button--light */
  /* Change the lightness. Other values remain the same */
  --cd-primary-color--lighter: hsl(var(--cd-primary-color-h), var(--cd-primary-color-s), calc(var(--cd-primary-color-l) + 39%));
}

/* Backgrounds */
.cd-background--dark {
  background-color: var(--cd-ocha-blue);
  color: var(--cd-white);
}

.cd-background--dark,
.cd-background--light {
  text-align: center;
  padding: 1rem;
  margin-bottom: 3rem;
}

/* Default button */
.cd-button {
  -webkit-appearance: none;
  border-radius: 3px;
  box-shadow: none;
  border: 2px solid transparent;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  text-align: center;
  transition: background-color 0.6s ease-out;
  width: auto;
  color: var(--cd-white);
  background-color: var(--cd-primary-color);
}

/* For IE11 */
@media all and (-ms-high-contrast: none) {
  .cd-button {
    background-color: var(--cd-ie-primary-color);
  }
}

.cd-button:hover,
.cd-button:focus {
  color: var(--cd-white);
  background-color: var(--cd-primary-color--light);
}

/* For IE11 */
@media all and (-ms-high-contrast: none) {
  .cd-button:hover,
  .cd-button:focus {
    background-color: var(--cd-ie-primary-color--light);
  }
}

.cd-button:focus {
  /* We remove the outline because we are adding a border. */
  /* so the rounded corners look nicer on hover */
  outline: 0 solid var(--cd-primary-color--light);
  border: 2px solid var(--cd-primary-color--dark);
}

/* For IE11 */
@media all and (-ms-high-contrast: none) {
  .cd-button:focus {
    /* We remove the outline because we are adding a border. */
    /* so the rounded corners look nicer on hover */
    outline: 0 solid var(--cd-ie-primary-color--light);
    border: 2px solid var(--cd-ie-primary-color--dark);
  }
}

/* For buttons on dark backgrounds */
.cd-button--light {
  color: var(--cd-primary-color--dark);
  background-color: var(--cd-primary-color--lighter);
}

/* For IE11 */
@media all and (-ms-high-contrast: none) {
  /* For buttons on dark backgrounds */
  .cd-button--light {
    color: var(--cd-ie-primary-color--dark);
    background-color: var(--cd-ie-primary-color--lighter);
  }
}

.cd-button--light:hover,
.cd-button--light:focus {
  color: var(--cd-primary-color--dark);
  background-color: var(--cd-primary-color--light);
}

/* For IE11 */
@media all and (-ms-high-contrast: none) {
  .cd-button--light:hover,
  .cd-button--light:focus {
    color: var(--cd-ie-primary-color--dark);
    background-color: var(--cd-ie-primary-color--light);
  }
}

/* When it's an anchor styled as a button */
a.cd-button {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

.cd-button--style {}

.cd-button--style:hover,
.cd-button--style:focus {}

.cd-button--style:focus {}


/* Utility classes */
.cd-button--small {
  padding: 0.25rem 0.5rem;
  font-size: 0.8rem;
  font-weight: 400;
}

.cd-button--bold {
  font-weight: bold;
}

.cd-button--uppercase {
  text-transform: uppercase;
}

/* Some buttons have SVG icons */
.cd-button--icon {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}

.cd-button--icon svg {
  fill: var(--cd-white);
  width: 2rem;
  height: 2rem;
  /* Icon before */
  padding: 0 0.5rem 0 0;
}

.cd-button--icon span + svg {
  /* Icon after */
  padding: 0 0 0 0.5rem;
}

.cd-button--icon.cd-button--small svg {
  width: 1rem;
  height: 1rem;
  /* Icon before */
  padding: 0 0.25rem 0 0;
}

.cd-button--icon.cd-button--small span + svg {
/* Icon after */
  padding: 0 0 0 0.25rem;
}

.cd-button--icon:hover svg,
.cd-button--icon:focus svg {
  fill: var(--cd-white);
}

.cd-button--small.cd-button--icon svg {
  width: 1rem;
  height: 1rem;
  /* Icon before */
  padding: 0 0.25rem 0 0;
}

.cd-button--small.cd-button--icon span + svg {
  /* Icon after */
  padding: 0 0 0 0.25rem;
}

.cd-button--light svg {
  fill: var(--cd-primary-color--dark);
}

/* For IE11 */
@media all and (-ms-high-contrast: none) {
  .cd-button--light svg {
    fill: var(--cd-ie-primary-color--dark);
  }
}

.cd-button--light:hover svg,
.cd-button--light:focus svg {
  fill: var(--cd-primary-color--dark);
}

/* For IE11 */
@media all and (-ms-high-contrast: none) {
  .cd-button--light:hover svg,
  .cd-button--light:focus svg {
    fill: var(--cd-ie-primary-color--dark);
  }
}

.cd-button--export,
.cd-button--export:hover,
.cd-button--export:focus {
  background: var(--cd-mid-grey);
  color: var(--cd-white);
  fill: var(--cd-white);
}

.cd-button--export svg,
.cd-button--export:hover svg,
.cd-button--export:focus svg {
  fill: var(--cd-white);
}

.cd-button--export:hover,
.cd-button--export:focus {
  background: var(--cd-dark-grey);
  fill: var(--cd-white);
}
