/* https://github.com/UN-OCHA/common_design/blob/main/components/cd-card/cd-card.css */

.cd-card {
  display: flex;
  flex-direction: column;
  /* Override grid background color from grid */
  background-color: var(--cd-white);
  border: 2px solid var(--cd-blue-grey);
}

.cd-card__image img {
  width: 100%;
  height: 13rem;
}

@supports (object-fit: cover) {
  .cd-card__image img {
    object-fit: cover;
    object-position: 50% 50%;
  }
}

.cd-card__image--rounded {
  min-width: 7rem;
  min-height: 7rem;
  max-width: 13rem;
  max-height: 13rem;
  margin-top: 1rem;
  /* Rounded image centered horizontally in cards */
  margin-left: auto;
  margin-right: auto;
}

.cd-card__image + .cd-card__container {
  flex-grow: 1;
  padding: 1rem 2rem;
}

.cd-card__container {
  flex-grow: 1;
  padding: 2rem 2rem 1rem;
}

.cd-card__footer {
  flex-shrink: 0;
  padding: 0 2rem 2rem;
}

.cd-card__title,
.cd-card__title a {
  font-weight: 700;
  font-size: 1rem;
  display: block;
}

.cd-card__description p:last-child {
  margin-bottom: 0;
}

.cd-card__link {
  padding: 1rem 0 0;
  border-top: 1px solid var(--cd-blue-grey);
}
