/*
 * Styles required for the api (forms and pdfs)
 * Usage:
 * Run `grunt sass:api` to generate the css
 * Copy the generated css into the api css file https://github.com/UN-OCHA/hid_api/blob/dev/assets/css/main.css
 */

.element-hidden {
  display: none;
}

.element-invisible {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
}

.element-invisible.element-focusable:active,
.element-invisible.element-focusable:focus {
  position: static !important;
  clip: auto;
  overflow: visible;
  height: auto;
}

/* HID Colour scheme for CD */
.cd-global-header {
  background: #007faa;
  background-image: linear-gradient(-180deg, #007faa 67%, #006c91 97%);
}

.cd-global-header__dropdown {
  background: #007faa;
}

.cd-global-header button[aria-expanded="true"]::before {
  border-color: transparent transparent #007faa;
}

a.cd-ocha-dropdown__see-all {
  background: #bddfea;
  color: #006c91;
}
a.cd-ocha-dropdown__see-all:hover {
  background: rgba(189, 223, 234, 0.8);
  color: #28546e;
}

#cd-language li button:hover,
#cd-language li button:focus {
  color: #80cbff;
}

#cd-language li button:focus {
  outline: 3px solid #60b2c9;
}

.cd-footer {
  background: #007faa;
}

/**
 * Fonts
 */
@font-face {
  font-family: 'exo_2regular';
  src: url("../fonts/exo/Exo2-Regular-webfont.eot");
  src: url("../fonts/exo/Exo2-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/exo/Exo2-Regular-webfont.woff") format("woff"), url("../fonts/exo/Exo2-Regular-webfont.ttf") format("truetype"), url("../fonts/exo/Exo2-Regular-webfont.svg#exo_2regular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'exo_2semi_bold';
  src: url("../fonts/exo/Exo2-SemiBold-webfont.eot");
  src: url("../fonts/exo/Exo2-SemiBold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/exo/Exo2-SemiBold-webfont.woff") format("woff"), url("../fonts/exo/Exo2-SemiBold-webfont.ttf") format("truetype"), url("../fonts/exo/Exo2-SemiBold-webfont.svg#exo_2semi_bold") format("svg");
  font-weight: normal;
  font-style: normal; }


.login__heading {
  max-width: 200px; }

.login__video {
  display: none; }

.t-login-btn {
  max-width: 50%;
  margin-left: 1em; }

@media (min-width: 576px) {
  .login__heading {
    max-width: 240px; }
  .login__form {
    margin-bottom: 40px; } }

@media (min-width: 1024px) {
  .login__heading {
    max-width: none; }
  .login__form {
    max-width: 500px;
    margin-bottom: 80px; }
  .login__video {
    display: block;
    padding-top: 24px; } }

.offline-status {
  font-size: 14px;
  font-size: 0.875rem;
  padding: 8px 48px 8px 8px;
  width: 100%;
  position: fixed;
  z-index: 200;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 0; }

.offline-status--up {
  background: #d6e9c6;
  color: #305d30; }

.offline-status--down {
  background: #ec8787;
  color: #551313; }

.offline-status__close {
  position: absolute;
  right: 8px;
  top: 50%;
  margin-top: -20px; }
  .offline-status--up .offline-status__close .icon {
    fill: #305d30; }
  .offline-status--down .offline-status__close .icon {
    fill: #551313; }

@media (min-width: 576px) {
  .offline-status {
    font-size: 16px;
    font-size: 1rem;
    border-radius: 4px;
    bottom: 16px;
    width: 608px;
    max-width: 100%;
    padding: 16px 48px 16px 16px; } }


.cd-notifications {
  position: relative;
  padding-left: 16px; }
  .cd-notifications::before {
    content: '';
    display: inline-block;
    width: 12px;
    height: 12px;
    position: absolute;
    top: 11px;
    left: 24px;
    background-image: url("../img/icons/notification--white.svg");
    background-size: 12px 12px; }
  .cd-notifications::after {
    content: '';
    position: absolute;
    right: 0;
    height: 50%;
    width: 1px;
    background: rgba(255, 255, 255, 0.25);
    top: 25%; }

.cd-notifications__link {
  display: inline-block;
  padding: 0 12px 0 28px;
  height: 35px;
  line-height: 35px;
  color: white;
  font-size: 100%;
  text-decoration: none; }
  .cd-notifications__link:hover {
    text-decoration: underline; }
  .cd-notifications__link:focus {
    outline: 3px solid #60b2c9; }

.api-page {
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px; }

.pdf {
  background-color: white; }
  .pdf .col-xs-8 {
    float: left;
    width: 66.66667%; }
  .pdf .col-xs-4 {
    float: left;
    width: 33.33333%; }
  .pdf .page-header {
    padding-top: 24px;
    margin-bottom: 16px; }
    .pdf .page-header img {
      height: auto; }

.table {
  font-size: 14px;
  font-size: 0.875rem; }

.table-compact {
  font-size: 13px;
  font-size: 0.8125rem; }
  .table-compact td {
    padding: 0 8px; }

.filters-param-list {
  font-size: 14px;
  font-size: 0.875rem;
  background: #007faa;
  color: #FFF;
  margin-bottom: 16px;
  padding: 8px; }

.filters-param, .filters-param-label {
  display: inline-block;
  padding: 4px 8px;
  margin: 0 8px 0 0; }

.filters-param {
  background: white;
  color: #007faa; }

.print-footer {
  font-weight: bold;
  font-size: 14px;
  font-size: 0.875rem;
  width: 100%;
  text-align: left;
  padding-bottom: 4px; }

.title-humanitarian {
  font-family: "exo_2semi_bold", sans-serif;
  text-transform: uppercase;
  color: #295A78; }

.title-id {
  font-family: "exo_2semi_bold", sans-serif;
  text-transform: uppercase;
  color: #007faa; }

@media (min-width: 576px) {
  .api-page {
    padding-bottom: 40px; } }


/* User Settings tabs */
/* https://inclusive-components.design/tabbed-interfaces */
[role="tablist"] {
  padding: 0;
  margin: 0;
}

[role="tablist"] li,
[role="tablist"] a {
  display: inline-block;
}

[role="tablist"] a {
  text-decoration: none;
  padding: 0.5rem 1em;
  border: 2px solid transparent;
  position: relative;
  top: 2px;
}

[role="tablist"] [aria-selected] {
  border: 2px solid #e6ecf1;
  border-bottom: 2px solid white;
  background: #fff;
  top: 2px;
}

[role="tabpanel"] {
  border: 2px solid #e6ecf1;
  padding: 1.5rem;
}

[role="tabpanel"] * + * {
  margin-top: 0.75rem;
}

[role="tablist"] a:focus {
  outline: 4px solid #60b2c9;
  outline-offset: -4px;
}

@media (max-width: 550px) {
  [role="tablist"] li,
  [role="tablist"] a {
    display: block;
    position: static;
  }

  [role="tablist"] a {
    border: 2px solid #e6ecf1 !important;
  }

  [role="tablist"] li + li a {
    border-top: 0 !important;
  }

  [role="tablist"] [aria-selected] {
    position: static;
  }

  [role="tablist"] [aria-selected]::after {
    content: '\0020⬅';
  }

  [role="tabpanel"] {
    border-top: 0;
  }
}

.cd-language-switcher .cd-user-menu__item {
  padding-right: 0;
}

.cd-language-switcher .cd-user-menu__item::after {
  display: none;
}


form .form-field > * {
  display: block;
}

form .form-field > input[type="checkbox"] {
  display: inline-block;
}

.email + .status {
  margin-left: 1rem;
}

.cd-button--cancel {
  --cd-primary-color-h: 70;
}

.cd-button--dectivate {
  --cd-primary-color-h: 30;
}

.cd-button--activate {
  --cd-primary-color-h: 120;
}

.cd-button--delete {
  --cd-primary-color-h: 360;
}
