/**
 * Utility Classes
 */
.element-hidden {
  display: none;
}

.element-invisible {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
}

.element-invisible.element-focusable:active,
.element-invisible.element-focusable:focus {
  position: static !important;
  clip: auto;
  overflow: visible;
  height: auto;
}

/**
 * CD classes for HID
 */
.cd-global-header {
  background: #007faa;
  background-image: linear-gradient(-180deg, #007faa 67%, #006c91 97%);
}

.cd-global-header__dropdown {
  background: #007faa;
}

.cd-global-header button[aria-expanded="true"]::before {
  border-color: transparent transparent #007faa;
}

a.cd-ocha-dropdown__see-all {
  background: #bddfea;
  color: #006c91;
}
a.cd-ocha-dropdown__see-all:hover {
  background: rgba(189, 223, 234, 0.8);
  color: #28546e;
}

#cd-language li button:hover,
#cd-language li button:focus {
  color: #80cbff;
}

#cd-language li button:focus {
  outline: 3px solid #60b2c9;
}

.cd-footer {
  background: #007faa;
}


/**
 * Login page
 */
.login__heading {
  max-width: 200px; }

.login__video {
  display: none; }

.t-login-btn {
  max-width: 50%;
  margin-left: 1em; }

@media (min-width: 576px) {
  .login__heading {
    max-width: 240px; }
  .login__form {
    margin-bottom: 40px; } }

@media (min-width: 1024px) {
  .login__heading {
    max-width: none; }
  .login__form {
    max-width: 500px;
    margin-bottom: 80px; }
  .login__video {
    display: block;
    padding-top: 24px; } }

.api-page {
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px; }

@media (min-width: 576px) {
  .api-page {
    padding-bottom: 40px; } }

.title-humanitarian {
  text-transform: uppercase;
  color: #295A78; }

.title-id {
  text-transform: uppercase;
  color: #007faa; }


/**
 * User Settings tabs
 */

/* https://inclusive-components.design/tabbed-interfaces */
[role="tablist"] {
  padding: 0;
  margin: 0;
}

[role="tablist"] li,
[role="tablist"] a {
  display: inline-block;
}

[role="tablist"] a {
  text-decoration: none;
  padding: 0.5rem 1em;
  border: 2px solid transparent;
  position: relative;
  top: 2px;
}

[role="tablist"] [aria-selected] {
  border: 2px solid #e6ecf1;
  border-bottom: 2px solid white;
  background: #fff;
  top: 2px;
}

[role="tabpanel"] {
  border: 2px solid #e6ecf1;
  padding: 1.5rem;
}

[role="tabpanel"] * + * {
  margin-top: 0.75rem;
}

[role="tablist"] a:focus {
  outline: 4px solid #60b2c9;
  outline-offset: -4px;
}

@media (max-width: 550px) {
  [role="tablist"] li,
  [role="tablist"] a {
    display: block;
    position: static;
  }

  [role="tablist"] a {
    border: 2px solid #e6ecf1 !important;
  }

  [role="tablist"] li + li a {
    border-top: 0 !important;
  }

  [role="tablist"] [aria-selected] {
    position: static;
  }

  [role="tablist"] [aria-selected]::after {
    content: '\0020⬅';
  }

  [role="tabpanel"] {
    border-top: 0;
  }
}

.cd-language-switcher .cd-user-menu__item {
  padding-right: 0;
}

.cd-language-switcher .cd-user-menu__item::after {
  display: none;
}
