/**
 * Override :root for all our CD stuff
 */
:root {
  /**
   * Custom properties for IE.
   *
   * This is needed due to inability to process calc() functions nested within
   * color functions.
   */
  --cd-ie-primary-color: #007faa;
  --cd-ie-primary-color--light: #4ca6c3;
  --cd-ie-primary-color--dark: #001b24;
  /*--cd-ie-primary-color--lighter: #a8ccf0;*/

  /**
   * Define our HSL for HID.
   */
  --cd-primary-color-h: 195;
  --cd-primary-color-s: 100%;
  --cd-primary-color-l: 33.333%;

  /**
   * The HID color was too saturated when using CD's default HSL light color.
   * We're overriding with a less saturated HSL.
   */
  --cd-primary-color--light: hsl(var(--cd-primary-color-h), calc(var(--cd-primary-color-s) - 50%), calc(var(--cd-primary-color-l) + 20%));

  /* darken */
  --cd-primary-color--dark: hsl(var(--cd-primary-color-h), var(--cd-primary-color-s), calc(var(--cd-primary-color-l) - 26%));

  /**
   * Adopt the CD colors for alerts
   *
   * @see https://feature.commondesign-unocha-org.ahconu.org/demo#cd-alert
   */
  --cd-red: #cd3a1f;
  --cd-red--light: #f8d8d3;
  --cd-orange: #db7b18;
  --cd-orange--light: #fae6d1;
  --cd-yellow: #d5de26;
  --cd-yellow--light: #f7f8d3;
  --cd-green: #7fb92f;
  --cd-green--light: #e8f5d6;

  /* CD colours for components */
  --cd-blue-grey: #e6ecf1;
  --cd-blue--bright: #80cbff;
  --cd-grey--light: #f2f2f2;
  --cd-grey--mid: #595959;
  --cd-grey--dark: #4a4a4a;
}

/**
 * CD overrides for HID
 */

h1, h2, h3, h4, h5 {
  color: var(--cd-primary-color);
  margin-top: 0;
}

/* Optimal reading width */
.cd-layout-content p {
  max-width: var(--cd-max-content-width);
}

.cd-global-header {
  background: #007faa;
  background-image: linear-gradient(-180deg, #007faa 67%, #006c91 97%);
}

.cd-global-header__dropdown {
  background: #007faa;
}

.cd-global-header button[aria-expanded="true"]::before {
  border-color: transparent transparent #007faa;
}

.cd-button.cd-ocha-dropdown__see-all {
  width: 100%;
}

/* IE11 fix */
#cd-user-dropdown-toggler svg {
  float: right;
}

#cd-language li button:hover,
#cd-language li button:focus {
  color: #80cbff;
}

#cd-language li button:focus {
  outline: 3px solid #60b2c9;
}

.cd-language-switcher .cd-user-menu__item {
  padding-right: 0;
}

.cd-language-switcher .cd-user-menu__item::after {
  display: none;
}

.cd-footer {
  background: #007faa;
}

.cd-button--danger {
  background-color: var(--cd-highlight-red);
}

.cd-button[disabled] {
  opacity: .666;
}

.cd-site-logo {
  width: 256px;
  background: url('/assets/img/logos/hid-logo.svg') center no-repeat;
}

h1 {
  color: #295a78;
}

h2 {
  color: #007faa;
}

a {
  color: #007faa;
}

a:hover,
a:focus {
  color: #007faa;
}
