<p>Bonjour <%= user.name %></p>

<p><%= params.user.name %> voudrait s'inscrire à la liste <%= params.list.name %>. Veuillez accorder ou refuser cette requête.</p>

<% include ../includes/footer_fr %>
