<p>Dear <%= name %></p>

<p>You have been invited to join Humanitarian ID - a neutral humanitarian login and contact management system for humanitarian responders. In order to add your details and connect with other responders, please register using the link below</p>

<p><a href="<%= reset_url %>"><%= reset_url %></a></p>

<% include../includes/footer_en %>
