<p>Bonjour <%= user.name %>,</p>

<p>Comme indiqué dans notre précédent email envoyé il y a 12 jours, vous avez maintenant été automatiquement désinscrit
de la liste de contacts "<a href="<%= params.list.getAppUrl() %>"><%= params.list.name %></a>", car cela fait plus de 14 jours que la date de départ est dépassée.</p>

<p>Si vous voulez continuer à faire partie de cette liste, vous devrez vous réinscrire.</p>

<% include ../../includes/footer_fr %>
