<p>Dear <%= user.given_name %>,</p>

<p>Thank you for registering on Humanitarian ID - a contact management system for the humanitarian community.</p>

<p>Please finish registering by using the link below. You will be asked to create a password of your choice. Humanitarian ID gives you control of your details on humanitarian contact lists. Please note that your account will be removed if it is not claimed within 7 days.</p>

<p><a href="<%= reset_url %>"><%= reset_url %></a></p>

<p>If you would like to learn more about Humanitarian ID and be the first to hear about new features, visit <a href="http://humanitarian.id">http://humanitarian.id</a>, join our mailing list (<a href="http://humanitarian.id/subscribe">http://humanitarian.id/subscribe</a>) and follow us on social media.</p>

<% include ../includes/footer_en %>

