<p>Dear <%= name %>,

<p>We are very excited that you have joined the Humanitarian ID community. As a first step, we need you to confirm your account by simply following the link below. Please make sure you confirm your account within the next 7 days, otherwise it will be deleted.</p>

<p>As we expand integration with humanitarian websites, your account will gain you access to a wide range of resources. But, of course, it will also give you access to the Humanitarian ID contact management solution!</p>

<a href="<%= reset_url %>"><%= reset_url %></a>

<% include ../includes/footer_en %>
