<p>Dear <%= user.name %>,</p>

<p>Your Humanitarian ID password was reset.</p>

<p>To change your password, please follow the instructions below:</p>

<ol>
  <li>Go to: <a href="https://auth.humanitarian.id/password">https://auth.humanitarian.id/password</a></li>
  <li>Type in your email address and click on 'Reset password'</li>
  <li>Check your inbox for an email from info@humanitarian.id . Click on the link in the email and follow the steps to reset your password.</li>
  <li>Logout when completed.</li>
</ol>

<p>Thank you,</p>

<% include ../includes/footer_en %>
