<p>Bonjour <%= user.name %>,</p>

<p>Votre profil d'identification humanitaire a été vérifié il y a presque un an. Nous voulons nous assurer que les utilisateurs vérifiés tiennent leur profil à jour au moins une fois par an.</p>

<p>Veuillez mettre à jour les informations de votre profil et envoyez-nous un email à info@humanitairan.id pour confirmer qu'il est actuel si vous souhaitez rester vérifié.</p>

<p>Si vous ne nous contactez pas, votre profil sera automatiquement non vérifié en sept jours. Cependant, vous pourrez toujours utiliser votre compte Humanitarian ID en tant qu'utilisateur non vérifié.</p>

<p>S'il vous plaît n'hésitez pas à entrer en contact si vous avez des questions.</p>

<% include ../../includes/footer_fr %>
