<p>Bonjour <%= user.name %>,</p>

<p>Vous êtes actuellement un utilisateur vérifié. Nous voulions vous informer que la vérification de votre profil expirera dans 7 jours.</p>

<p>Si vous souhaitez rester vérifié, veuillez contacter info@humanitarian.id</p>

<% include ../../includes/footer_fr %>
