<p>Dear <%= user.name %></p>

<p>We are very excited that you have joined the Humanitarian ID community recently.</p>

<p>We noticed that you have not yet confirmed your account. Please follow the link below in order to finish your registration.</p>

<p>As we expand integration with humanitarian websites, your account will gain you access to a wide range of resources. But, of course, it will also give you access to the Humanitarian ID contact management solution!</p>

<p><a href="<%= verifyLink %>"><%= verifyLink %></a></p>

<% include ../includes/footer_en %>
