<p>Dear <%= user.name %>,</p>

<p><%= createdBy.name %> requested to become part of your connections to see your entire profile. To approve this request, please log into Humanitarian ID and go to your profile.</p>

<% include ../includes/footer_en %>
