<p>Bonjour <%= user.name %>,</p>

<p>Nous sommes heureux que vous ayez rejoint la communauté Humanitarian ID récemment.</p>

<p>Nous avons remarqué que vous n'avez pas encore confirmé votre compte. Veuillez suivre le lien ci-dessous pour terminer votre inscription.</p>

<p>A mesure que nous développons l'intégration avec des sites web humanitaires, votre compte gagnera accès à une grande variété de ressources. Mais, bien sûr, il vous donnera accès à la solution de gestion de contacts Humanitarian ID !</p>

<p><a href="<%= verifyLink %>"><%= verifyLink %></a></p>

<% include ../../includes/footer_fr %>
