<p>Bonjour <%= user.name %>,</p>

<p><%= createdBy.name %> a remarqué que vos informations de contact de votre profil sur Humanitarian ID ne sont plus à jour.</p>

<p>Nous vous proposons de vérifier que vos informations de contact (votre titre, organisation, abonnement à un groupe, numéro(s) de téléphone(s), adresses e-mails, etc) sont bien à jour.</p>

<p>Connectez-vous sur Humanitarian ID (http://humanitarian.id/login) pour vérifier et modifier votre profil global.</p>

<p>Il est très important que les listes de contacts humanitaires soient à jour. Notre approche envers les listes des contacts se fonde sur votre soutien personnel.</p>

<p>Si ce courriel ne vous concerne pas, n’hésitez pas à nous contacter à info@humanitarian.id.</p>

<% include ../../includes/footer_fr %>

