<p>Dear <%= user.name %>,</p>

<p><%= createdBy.name %> removed your manager permissions from the list <%= params.list.name %> on Humanitarian ID.</p>

<p>If you think this is a mistake, please contact <%= createdBy.name %></p>

<% include ../includes/footer_en %>

