<%- include('includes/header') %>
<link rel="stylesheet" href="/assets/css/hid-tabs/hid-tabs.css">
<link rel="stylesheet" href="/assets/css/hid-client/hid-client.css">
<link rel="stylesheet" href="/assets/css/pages/admin.css">
<link rel="stylesheet" href="/assets/css/pages/admin-client-list.css">

<main role="main" id="main-content" class="cd-layout cd-container">
  <div class="cd-layout__content">
    <h1 class="cd-page-title page-header__heading">Administration Area</h1>
    <%- include('includes/alert') %>
    <div class="tabbed">
      <nav>
        <li>
          <a href="/admin" aria-selected="true">Manage OAuth Clients</a>
        </li>
      </nav>

      <section id="section-oauth-clients" class="oac-admin [ cd-flow ]">
        <h2>Manage OAuth clients</h2>

        <p>There are a total of <strong><%= clients.length %> OAuth clients</strong><span id="client-search-summary"></span>.</p>
        <div class="form-field oac-admin__search-section">
          <input type="text" id="client-search" class="oac-admin__search" placeholder="Search by anything: id/title/desc/urls/org/env">
          <button type="reset" id="client-search-clear" class="cd-button cd-button--bold cd-button--uppercase">Clear</button>
        </div>

        <ul class="oac-admin__list [ cd-flow ]">
          <% clients.forEach(client => { %>
            <% const searchData = `${client.name} ${client.id} ${client.redirectUri || ''} ${client.redirectUrls.join(' ') || ''} ${client.description || ''} ${client.organization || ''} ${client.environment || ''}`; %>
            <li class="oac-admin__client client" data-search="<%= searchData %>">
              <a href="/admin/client/<%= client._id %>" class="client__edit cd-button cd-button--uppercase">Edit</a>
              <span class="client__info">
                <span class="client__name"><%= client.name %></span>
                <span class="client__meta">
                  <% if (!!client.environment) { %>
                    <span class="client__environment"><strong><%= client.environment %></strong> environment</span>
                  <% } %>
                  <% if (!!client.organization) { %>
                    <span class="client__organization">requested by <strong><%= client.organization %></strong></span>
                  <% } %>
                </span>
              </span>
            </li>
          <% }); %>
        </ul>
      </section>
    </div>
  </div>
</main>

<%- include('includes/footer') %>

<script src="/assets/js/tabs.js"></script>
<script src="/assets/js/admin.js"></script>
