<% include header %>

<div id="main" class="api-page">
  <main role="main" id="main-content" class="cd-container">
    <div class="cd-layout-content">
      <div class="container mx-auto max-w-3xl [ flow ]">
        <h1 class="page-header__heading">Hi <%= user.name %></h1>

      <form action="/oauth/authorize" method="post" class="[ flow ]">
        <p><strong><%= client.name %></strong> is requesting access to your account.</p>
        <p>Do you approve?</p>
        <input type="hidden" name="transaction_id" value="<%= transactionID %>" />
        <input type="hidden" name="crumb" value="<%= crumb %>" />
        <input type="submit" value="Allow" name="bsubmit" id="allow" class="btn-primary">
        <input type="submit" value="Deny" name="bsubmit" id="deny" class="btn-secondary">
      </form>
    </div>
    </div>
  </main>
</div>

<% include footer %>
