<% include header %>

<main role="main" id="main-content" class="cd-container">
  <div class="cd-layout-content">
    <h1 class="cd-page-title page-header__heading">Authorize <%= client.name %>?</h1>

    <form action="/oauth/authorize" method="post" class="[ flow ] t-form-authorize">
      <p><%= user.given_name %>, <strong><%= client.name %></strong> is requesting access to:</p>
      <ul>
        <li>Your name</li>
        <li>Your email address<%= user.emails && user.emails.length > 1 ? 'es' : '' %></li>
        <li>Your HID user ID</li>
      </ul>
      <p>
        <em>
          <% if (!!client.organization) { %>
            <strong><%= client.name %></strong> is managed by <strong><%= client.organization %></strong>.<br>
          <% } %>
          <% if (!!client.environment && client.environment.toLowerCase().indexOf('prod') === -1) { %>
            This <strong><%= client.environment %> environment</strong> is for development/testing.
          <% } %>
        </em>
      </p>
      <input type="hidden" name="transaction_id" value="<%= transactionID %>" />
      <input type="hidden" name="crumb" value="<%= crumb %>" />
      <input type="submit" value="Allow" name="bsubmit" id="allow" class="cd-button cd-button--bold cd-button--uppercase cd-button--wide">
      <input type="submit" value="Deny" name="bsubmit" id="deny" class="cd-button cd-button--outline cd-button--uppercase">
    </form>
  </div>
</main>

<% include footer %>
