<%- include('includes/header') %>

<main role="main" id="main-content" class="cd-layout cd-container">
  <div class="cd-layout__content">
    <div class="[ cd-flow ]">
      <% if (typeof alert !== 'undefined' && alert.title) { %>
        <h1 class="cd-page-title page-header__heading"><%- alert.title %></h1>
      <% } else { %>
        <h1 class="cd-page-title page-header__heading">Error</h1>
      <% } %>

      <% if (typeof alert !== 'undefined') { %>
        <%- include('includes/alert') %>
      <% } else { %>
        <p>There was an internal server error.</p>
      <% } %>
    </div>
  </div>
</main>

<%- include('includes/footer') %>
