<!DOCTYPE html>
<html class="no-js" lang="en-US" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <base href="/">
    <title>Humanitarian ID</title>
    <meta name="description" content="Authentication page for Humanitarian ID">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="assets/css/main.css">
    <!--[if lt IE 9]>
        <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <script>window.html5 || document.write('<script src="js/vendor/html5shiv.js"><\/script>')</script>
    <![endif]-->
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
        (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
        function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        e.src='//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
        ga('create','UA-60189654-2','auto');ga('send','pageview');
    </script>

  </head>
  <body>
    <a id="skip-to-content" href="#main" class="skip-link element-invisible element-focusable">Skip to main content</a>

    <div class="cd-wrapper"><!-- intentionally unclosed! -->
      <header class="cd-header" role="banner">
        <div class="cd-global-header">
          <div class="cd-container cd-global-header__inner">
            <div class="cd-ocha dropdown" uib-dropdown keyboard-nav="true">
              <button type="button" class="cd-ocha-btn cd-global-header__dropdown-btn" id="cd-ocha-dropdown-toggle" aria-expanded="false" aria-label="OCHA Services" data-toggle="dropdown" uib-dropdown-toggle>
                <span class="cd-ocha-btn__logo" aria-hidden="true"></span>
                <span class="cd-ocha-btn__label" translate>OCHA Services</span>
                <svg class="icon icon--arrow-down">
                  <use xlink:href="#arrow-down"></use>
                </svg>
              </button>
              <div class="cd-global-header__dropdown cd-ocha-dropdown cd-dropdown" role="menu" id="cd-ocha-dropdown" aria-labelledby="cd-ocha-dropdown-toggle" uib-dropdown-menu>
                <div class="cd-ocha-dropdown__inner">
                  <div class="cd-ocha-dropdown__section">
                    <p class="cd-ocha-dropdown__heading" translate>Related Platforms</p>
                    <ul class="cd-ocha-dropdown__list">
                      <li class="cd-ocha-dropdown__link"><a href="https://gms.unocha.org">Grant Management System</a></li>
                      <li class="cd-ocha-dropdown__link"><a href="https://humanitarianresponse.info">Humanitarian Response</a></li>
                      <li class="cd-ocha-dropdown__link"><a href="https://hum-insight.info">Humanitarian Insight</a></li>
                      <li class="cd-ocha-dropdown__link"><a href="https://reliefweb.int">ReliefWeb</a></li>
                    </ul>
                  </div>
                  <div class="cd-ocha-dropdown__section">
                    <p class="cd-ocha-dropdown__heading" translate>Other OCHA Services</p>
                    <ul class="cd-ocha-dropdown__list">
                      <li class="cd-ocha-dropdown__link"><a href="https://fts.unocha.org/">Financial Tracking Service</a></li>
                      <li class="cd-ocha-dropdown__link"><a href="https://data.humdata.org/">Humanitarian Data Exchange</a></li>
                      <li class="cd-ocha-dropdown__link"><a href="https://humanitarian.id/">Humanitarian ID</a></li>
                      <li class="cd-ocha-dropdown__link"><a href="https://humanitarianresponse.info/">Humanitarian Response</a></li>
                    </ul>
                  </div>
                  <div class="cd-ocha-dropdown__section">
                    <p class="cd-ocha-dropdown__heading" aria-hidden="true">&nbsp;</p>
                    <ul class="cd-ocha-dropdown__list">
                      <li class="cd-ocha-dropdown__link"><a href="https://interagencystandingcommittee.org">Inter-Agency Standing Committee</a></li>
                      <li class="cd-ocha-dropdown__link"><a href="https://unocha.org/">OCHA website</a></li>
                      <li class="cd-ocha-dropdown__link"><a href="https://reliefweb.int/">ReliefWeb</a></li>
                      <li class="cd-ocha-dropdown__link"><a href="https://vosocc.unocha.org/">Virtual OSOCC</a></li>
                    </ul>
                  </div>
                  <div class="cd-ocha-dropdown__section">
                    <a class="cd-ocha-dropdown__see-all" href="https://www.unocha.org/ocha-digital-services" target="_blank" rel="noopener">See all</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="cd-site-header">
          <div class="cd-container cd-site-header__inner">
            <h1>
              <a href="/" class="cd-site-logo t-logo-link" style="background: url('/assets/img/logos/hid-logo.svg') center no-repeat; width: 256px;">
                <span class="element-invisible">Humanitarian ID</span>
              </a>
            </h1>
          </div>
        </div>
      </header>

<script>
(function iife() {
  var ochaButton = document.querySelector('#cd-ocha-dropdown-toggle');
  var ochaDropdown = document.querySelector('.cd-ocha');

  ochaButton.addEventListener('click', function toggleDropdown() {
    if (ochaButton.getAttribute('aria-expanded') === 'true') {
      ochaButton.setAttribute('aria-expanded', 'false');
      ochaDropdown.classList.remove('open');
    } else {
      ochaButton.setAttribute('aria-expanded', 'true');
      ochaDropdown.classList.add('open');
    }
  });
}());
</script>
