<% include header %>

<h1>Log into Humanitarian ID</h1>
<% if (alert) { %>
  <div class="alert alert-<%= alert.type %>" role="alert"><%= alert.message %></div>
<% } %>
<form method="post" action="/login">
  <div class="form-group">
    <label for="email" translate>Email</label>
    <input type="email" class="form-control" name="email" id="email" required>
  </div>
  <div class="form-group">
    <label for="password"><span translate>Password</span> <a href="/password_reset" translate>Forgot your password ?</a></label>
    <input type="password" class="form-control" name="password" id="password" required>
  </div>
  <input type="hidden" name="redirect" value="<%= query.redirect %>" />
  <input type="hidden" name="client_id" value="<%= query.client_id %>" />
  <input type="hidden" name="redirect_uri" value="<%= query.redirect_uri %>" />
  <input type="hidden" name="response_type" value="<%= query.response_type %>" />
  <input type="hidden" name="scope" value="<%= query.scope %>" />
  <input type="hidden" name="crumb" value="<%= crumb %>" />
  <button type="submit" class="btn btn-primary">Login</button>
</form>
<a href="/register?redirect=<%= query.redirect %>&client_id=<%= query.client_id %>&redirect_uri=<%= query.redirect_uri %>&response_type=<%= query.response_type %>&scope=<%= query.scope %>" class="btn btn-default">Need to register ?</a>

<% include footer %>
