<%- include('includes/header') %>
<link rel="stylesheet" href="/assets/css/password-toggle.css">

<div class="api-page">
  <main role="main" id="main-content" class="cd-container">
    <div class="cd-layout-content">
      <div class="[ flow ]">
        <h1 class="cd-page-title page-header__heading">Enter your new password</h1>

        <%- include('includes/alert') %>

        <form id="passwordForm" name="resetPassword" action="/new-password" method="POST" class="[ flow ]">
          <div class="form-field">
            <label for="password">New password</label>
            <input
              type="password"
              name="password"
              id="password"
              autocomplete="off"
              required
              minlength="12"
              pattern="<% include includes/password-regex.html %>"
              title="See password requirements below.">
            <button type="button" class="password__viz-toggle viz-toggle viz-toggle--see">
              <span class="visually-hidden">Toggle password visibility</span>
            </button>
          </div>

          <div class="form-field">
            <label for="confirm_password">Confirm new password</label>
            <input
              type="password"
              name="confirm_password"
              id="confirm_password"
              autocomplete="off"
              required
              minlength="12"
              pattern="<% include includes/password-regex.html %>"
              title="See password requirements below.">
            <button type="button" class="password__viz-toggle viz-toggle viz-toggle--see">
              <span class="visually-hidden">Toggle password visibility</span>
            </button>
          </div>
          <div class="form-field">
            <% include includes/password-requirements.html %>
          </div>

          <input type="hidden" name="hash" value="<%= hash %>" />
          <input type="hidden" name="id" value="<%= id %>" />
          <input type="hidden" name="emailId" value="<%= emailId %>" />
          <input type="hidden" name="time" value="<%= time %>" />
          <input type="hidden" name="crumb" value="<%= crumb %>" />

          <button type="submit" class="cd-button cd-button--bold cd-button--wide cd-button--uppercase t-btn--reset-pw">Reset password</button>
        </form>
      </div>
    </div>
  </main>
</div>

<script src="/assets/js/passwords.js"></script>
<script src="/assets/js/password-toggle.js"></script>
<%- include('includes/footer') %>
