<% include header %>
<h1>Enter your new password</h1>
<form name="resetPassword" action="/new_password" method="POST">
  <div class="form-group">
    <label for="password">New password</label>
    <input type="password" name="password" class="form-control" required>
  </div>
  <div class="form-group">
    <label for="confirm_password">Confirm new password</label>
    <input type="password" name="confirmPassword" class="form-control" required>
  </div>
  <input type="hidden" name="redirect" value="<%= query.redirect %>" />
  <input type="hidden" name="client_id" value="<%= query.client_id %>" />
  <input type="hidden" name="redirect_uri" value="<%= query.redirect_uri %>" />
  <input type="hidden" name="response_type" value="<%= query.response_type %>" />
  <input type="hidden" name="scope" value="<%= query.scope %>" />
  <input type="hidden" name="hash" value="<%= query.hash %>" />
  <input type="hidden" name="crumb" value="<%= crumb %>" /> 
  <button type="submit" class="btn btn-primary">Reset password</button>
</form>
<% include footer %>
