<% include header %>

<div class="api-page">
  <main role="main" id="main-content" class="cd-container">
    <div class="cd-layout-content">
      <div class="[ flow ]">
        <h1 class="page-header__heading">Enter your new password</h1>

        <form name="resetPassword" action="/new_password" method="POST" onsubmit="return checkForm(this)" class="[ flow ]">
          <div class="form-field">
            <label for="password">New password</label>
            <input
              type="password"
              name="password"
              id="password"
              required
              minlength="12"
              pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[!@#$%^&*()+=\\`{}]).+$"
              title="See password requirements below.">
          </div>
          <div class="form-field">
            <label for="confirm_password">Confirm new password</label>
            <input
              type="password"
              name="confirm_password"
              id="confirm_password"
              required
              minlength="12"
              pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[!@#$%^&*()+=\\`{}]).+$"
              title="See password requirements below.">
          </div>
          <div class="form-field">
            <p>Passwords must be at least 12 characters long and:</p>
            <ul>
              <li>Contain <strong>one number</strong></li>
              <li>Contain <strong>one uppercase character</strong></li>
              <li>Contain <strong>one lowercase character</strong></li>
              <li>Contain <strong>one special character</strong> <code>!@#$%^&*()+=\`{}</code></li>
              <li>Be different than your previous password</li>
            </ul>
          </div>
          <input type="hidden" name="redirect" value="<%= query.redirect %>" />
          <input type="hidden" name="client_id" value="<%= query.client_id %>" />
          <input type="hidden" name="redirect_uri" value="<%= query.redirect_uri %>" />
          <input type="hidden" name="response_type" value="<%= query.response_type %>" />
          <input type="hidden" name="scope" value="<%= query.scope %>" />
          <input type="hidden" name="hash" value="<%= hash %>" />
          <input type="hidden" name="id" value="<%= id %>" />
          <input type="hidden" name="time" value="<%= time %>" />
          <input type="hidden" name="crumb" value="<%= crumb %>" />
          <button type="submit" class="cd-button cd-button--bold cd-button--wide cd-button--uppercase">Reset password</button>
        </form>
      </div>
    </div>
  </main>
</div>

<script><% include ../assets/js/forms.js %></script>
<% include footer %>
