<% include header %>

<script type="text/javascript">
  function checkPassword(str)
  {
    var re = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}$/;
    return re.test(str);
  }

  function checkForm(form)
  {
    if(form.password.value != "" && form.password.value == form.confirmPassword.value) {
      if(!checkPassword(form.password.value)) {
        alert("The password you have entered is not valid ! Make sure it has at least 8 characters with one number, one lowercase and one uppercase character.");
        form.password.focus();
        return false;
      }
    } else {
      alert("Please check that you've entered and confirmed your password !");
      form.password.focus();
      return false;
    }
    return true;
  }
</script>

<div class="container api-page">
  <div class="row">
    <div class="col-sm-6 offset-sm-3 col-lg-4 offset-lg-4">
      <div class="page-header">
        <h1 class="page-header__heading">Enter your new password</h1>
      </div>

      <p>Passwords must be at least <strong>8 characters</strong> long, contain at least
      <strong>one number</strong>, one <strong>uppercase character</strong> and one
      <strong>lowercase character</strong>.</p>

      <form name="resetPassword" action="/new_password" method="POST" onsubmit="return checkForm(this)">
      <div class="form-field">
          <label for="password">New password</label>
          <input type="password" name="password" id="password" required>
        </div>
        <div class="form-field">
          <label for="confirm_password">Confirm new password</label>
          <input type="password" name="confirmPassword" id="confirm_password" required>
        </div>
        <input type="hidden" name="redirect" value="<%= query.redirect %>" />
        <input type="hidden" name="client_id" value="<%= query.client_id %>" />
        <input type="hidden" name="redirect_uri" value="<%= query.redirect_uri %>" />
        <input type="hidden" name="response_type" value="<%= query.response_type %>" />
        <input type="hidden" name="scope" value="<%= query.scope %>" />
        <input type="hidden" name="hash" value="<%= hash %>" />
        <input type="hidden" name="crumb" value="<%= crumb %>" />
        <button type="submit" class="btn-primary">Reset password</button>
      </form>
    </div>
  </div>
</div>
<% include footer %>
