<% include header %>

<div class="container api-page">
  <main role="main" id="main-content" class="cd-container">
    <div class="cd-layout-content">
      <div class="container mx-auto max-w-sm mx-auto [ flow ]">

      <div class="global-header__back">
        <button type="button" class="cd-button cd-button--icon cd-button--small" onclick="window.history.back()">
            <svg class="cd-icon cd-icon--arrow-left">
              <use xlink:href="#cd-icon--arrow-left"></use>
            </svg>
          Back
          </button>
        </button>
      </div>

        <h1 class="page-header__heading">Reset Password</h1>
        <p class="form-field">If you forgot the password to your Humanitarian ID account, or your password has expired, you can request a new password by entering your email address here and clicking "Reset Password". You will receive an email with a temporary link.</p>
        <p class="form-field">Note: Allow some time for the email to get to your inbox (especially if using @un.org domain). If you do not receive it, get in touch with us at <a href="mailto:info@humanitarian.id">info@humanitarian.id</a></p>

        <form name="reset" action="/password" method="POST" class="[ flow ]">
          <div class="form-field" >
            <label for="email">Email</label>
            <input type="email" name="email" id="email" placeholder="Your email address" required>
          </div>
          <input type="hidden" name="crumb" value="<%= crumb %>" />
          <input type="hidden" name="app_reset_url" value="<%= requestUrl %>" />
          <button type="submit" class="cd-button cd-button--bold">Reset Password</button>
        </form>

      </div>
    </div>
  </main>
</div>

<% include footer %>
