<% include header %>

<div class="container api-page">
  <div class="row">
    <div class="col-sm-6 offset-sm-3 col-lg-4 offset-lg-4">
      <div class="global-header__back">
        <button type="button" class="btn-transparent">
          <icon name="arrow-left" text="back"></icon>
        </button>
      </div>
      
      <div class="page-header">
        <h1 class="page-header__heading">Reset Password</h1>
        <p class="form-field">If you forgot the password to your Humanitarian ID account, or your password has expired, you can request a new password by entering your email address here and clicking "Reset Password". You will receive an email with a temporary link.</p>
        <p class="form-field">Note: Allow some time for the email to get to your inbox (especially if using @un.org domain). If you do not receive the email kindly do not reset the password a second time, but get in touch with us: <a href="mailto:info@humanitarian.id">info@humanitarian.id</a></p>

      </div>

			<form name="reset" action="/password" method="POST">
			  <div class="form-field" >
			    <label for="email">Email</label>
			    <input type="email" name="email" id="email" placeholder="Your email address" required>
			  </div>
			  <input type="hidden" name="crumb" value="<%= crumb %>" />
			  <input type="hidden" name="app_reset_url" value="<%= requestUrl %>" />
			  <button type="submit" class="btn-primary">Reset Password</button>
			</form>
		</div>
	</div>
</div>

<% include footer %>
