<% include header %>

<div class="api-page">
  <main role="main" id="main-content" class="cd-container">
    <div class="cd-layout-content">
      <div class="[ flow ]">
        <h1 class="page-header__heading">Reset Password</h1>

        <% include alert.html %>

        <p>If you forgot the password to your Humanitarian ID account, or your password has expired, you can request a new password by entering your email address here and clicking "Reset Password". You will receive an email with a temporary link.</p>
        <p>Note: Allow some time for the email to get to your inbox (especially if using <code>@un.org</code> domain). If you do not receive it, get in touch with us at <a href="mailto:info@humanitarian.id">info@humanitarian.id</a></p>

        <form name="reset" action="/password" method="POST" class="[ flow ]">
          <div class="form-field" >
            <label for="email">Email</label>
            <input type="email" name="email" id="email" placeholder="Your email address" required>
          </div>
          <input type="hidden" name="crumb" value="<%= crumb %>" />
          <input type="hidden" name="app_reset_url" value="<%= requestUrl %>" />
          <button type="submit" class="cd-button cd-button--bold cd-button--wide cd-button--uppercase">Reset Password</button>
        </form>
      </div>
    </div>
  </main>
</div>

<% include footer %>
