<% include header %>
<link rel="stylesheet" href="/assets/css/profile-edit.css">

<div class="api-page">
  <main role="main" id="main-content" class="cd-container">
    <div class="cd-layout-content [ flow ]">
      <h1 class="page-header__heading">Edit profile</h1>
      <% include alert.html %>
      <div class="profile profile--edit">

        <form action="/profile/edit" method="POST" class="form--profile-basic [ flow ]">
          <div class="form-field">
            <h2>Manage basic info</h2>
            <p>You are required to provide your family name and given name.</p>
          </div>
          <div class="form-field">
            <label for="profile-given_name">Given Name:</label>
            <input type="text" id="profile-given_name" name="given_name" value="<%= user.given_name %>" required>
          </div>
          <div class="form-field">
            <label for="profile-family_name">Family name:</label>
            <input type="text" id="profile-family_name" name="family_name" value="<%= user.family_name %>" required>
          </div>
          <div class="form-actions">
            <button type="submit" class="cd-button cd-button--bold cd-button--uppercase t-btn-update-name">Update Name</button>
            <a href="/profile" class="cd-button cd-button--uppercase cd-button--outline t-btn-cancel-name">Cancel</a>
          </div>
        </form>

        <form name="emailForm" action="/profile/edit/emails" method="POST" class="form--profile-emails [ flow ]">
          <div class="form-field [ flow ]">
            <h2>Manage email addresses</h2>
            <p>Use the radio buttons to select a new primary email address. You may only select an address which has already been confirmed.</p>

            <% if (user.emails.some(e => !e.validated)) { %>
              <p>Clicking <code aria-label="the Confirm button">[CONFIRM]</code> will re-send the confirmation email with a one-time link. After confirming, you can set that email address as your primary.</p>
            <% } %>

            <% user.emails.forEach(function(thisEmail) { %>
              <div class="profile__email email">
                <div class="email__select-primary">
                  <input type="radio" name="email_primary" id="email_primary-<%= thisEmail._id.toString() %>" value="<%= thisEmail.email %>" <%= user.email === thisEmail.email ? 'checked' : '' %> <%= thisEmail.validated ? '' : 'disabled' %>>
                </div>
                <div class="email__address">
                  <label for="email_primary-<%= thisEmail._id.toString() %>" class="<%= !thisEmail.validated ? 'email__address--unconfirmed' : 'email__address--confirmed' %>"><%= thisEmail.email %></label>
                </div>
                <div class="email__delete">
                  <% if (user.email === thisEmail.email) { %>
                    <button disabled class="cd-button cd-button--small cd-button--bold cd-button--uppercase">Primary</button>
                  <% } else { %>
                    <button
                      type="submit"
                      name="email_delete"
                      value="<%= thisEmail.email %>"
                      class="email-delete cd-button cd-button--small cd-button--bold cd-button--uppercase cd-button--danger"
                    >
                      Delete
                    </button>
                  <% } %>
                </div>
                <div class="email__status">
                  <% if (!thisEmail.validated) { %>
                    <button type="submit" name="email_confirm" value="<%= thisEmail.email %>" class="cd-button cd-button--small cd-button--bold cd-button--uppercase">Confirm</button>
                  <% } %>
                </div>
              </div>
            <% }) %>

            <h3>Add a new email address:</h3>
            <div class="profile__new-email">
              <input type="email" name="email_new" id="email_new" placeholder="you@example.com" title="Must be a valid email address. You are not required to fill this field.">
            </div>
          </div>
          <div class="form-actions">
            <button type="submit" class="cd-button cd-button--bold cd-button--uppercase t-btn-update-email">Update email</button>
            <a href="/profile" class="cd-button cd-button--uppercase cd-button--outline t-btn-cancel-email">Cancel</a>
          </div>
        </form>

      </div>
    </div>
  </main>
</div>

<script src="/assets/js/confirmation.js"></script>
<script src="/assets/js/profile-edit.js"></script>
<% include footer %>
