<% include header %>
<div class="container api-page">
  <main role="main" id="main-content" class="cd-container">
    <div class="cd-layout-content">
      <div class="row">
        <div class="col-sm-10 offset-sm-1 col-md-8 offset-md-2">
          <div class="page-header">
            <h1 class="page-header__heading"><%= user.name %></h1>

            <p translate><strong>Given Name:</strong> <%= user.given_name %></p>
            <p translate><strong>Family name:</strong> <%= user.family_name %></p>
            <p translate><strong>Email addresses:</strong>
              <ul>
                <li>
                  <span class="email"><%= user.email %></span><br>
                  <span class="primary"><em>Primary, validated</em></span>
                </li>
                <%
                  user.emails.forEach(function(email) {
                    if (email.email !== user.email) {
                %>
                  <li>
                    <span class="email"><%= email.email %></span><br>
                    <span class="status"><em><%= email.validated === true ? 'validated' : '' %></em></span>
                  </li>
                <%
                    }
                  });
                %>
              </ul>
            </p>

            <p translate><strong>Verified:</strong>
              <% if (user.email_verified) { %>
              <span translate>Yes</span>
              <%} else { %>
              <span translate>No</span>
              <% } %>
            </p>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
<% include footer %>
