<% include header %>
<style><% include ../assets/css/tabs.css %></style>
<style><% include ../assets/css/settings-password.css %></style>

<div class="api-page">
  <main role="main" id="main-content" class="cd-container">
    <div class="cd-layout-content">
      <h1 class="page-header__heading">Settings for <%= user.name %></h1>
      <% include alert.html %>
      <div class="tabbed">
        <nav>
          <li>
            <a href="/settings">Authorized Apps</a>
          </li>
          <li>
            <a href="/settings/password" aria-selected="true">Password</a>
          </li>
          <li>
            <a href="/settings/security">Security</a>
          </li>
          <li>
            <a href="/settings/delete">Delete Account</a>
          </li>
        </nav>

        <section id="section-password">
          <h2>Change Password</h2>
          <form action="/settings/password" method="POST" class="[ flow ]">
            <% if (totpPrompt) { %>
              <div class="form-item [ flow ]">
                <h3>Two-factor authentication</h3>
                <label for="x-hid-totp">Authentication code</label>
                <input
                  type="text"
                  name="x-hid-totp"
                  id="x-hid-totp"
                  autocomplete="one-time-code"
                  placeholder="Authentication code"
                  required>
                <button name="action" value="totp" class="cd-button cd-button--bold cd-button--wide cd-button--uppercase">
                  Verify
                </button>
              </div>
            <% } else { %>
              <div class="form-field">
                <label for="password">Current password</label>
                <input
                  type="password"
                  name="old_password"
                  id="old_password"
                  autocomplete="current-password"
                  required
                  minlength="12"
                  pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[!@#$%^&*()+=\\`{}]).+$"
                  title="See password requirements below.">
              </div>

              <div class="form-field">
                <label for="password">New password</label>
                <input
                  type="password"
                  name="new_password"
                  id="password"
                  autocomplete="new-password"
                  required
                  minlength="12"
                  pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[!@#$%^&*()+=\\`{}]).+$"
                  title="See password requirements below.">
              </div>
              <div class="form-field">
                <label for="confirm_password">Confirm new password</label>
                <input
                  type="password"
                  name="confirm_password"
                  id="confirm_password"
                  autocomplete="new-password"
                  required
                  minlength="12"
                  pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[!@#$%^&*()+=\\`{}]).+$"
                  title="See password requirements below.">
              </div>
              <div class="form-field">
                <p>Passwords must be at least 12 characters long and:</p>
                <ul>
                  <li>Contain <strong>one number</strong></li>
                  <li>Contain <strong>one uppercase character</strong></li>
                  <li>Contain <strong>one lowercase character</strong></li>
                  <li>Contain <strong>one special character</strong> <code>!@#$%^&*()+=\`{}</code></li>
                  <li>Be different than your previous password</li>
                </ul>
              </div>

              <!--
                here we include a hidden input with the username, per Chrome's
                recommendation for a11y and specifically PW managers in this case.
              -->
              <input type="hidden" name="username" value="<%= user.email %>">

              <div class="form-actions">
                <button name="action" value="submit" class="cd-button cd-button--bold cd-button--wide cd-button--uppercase">
                  Reset password
                </button>
              </div>
            <% } %>
          </form>
        </section>
      </div>
    </div>
  </main>
</div>

<% include footer %>

<script><% include ../assets/js/tabs.js %></script>
<script><% include ../assets/js/totp.js %></script>
