<% include header %>
<div class="container api-page">
  <main role="main" id="main-content" class="cd-container">

    <div class="cd-layout-content">

      <div class="row">
        <div class="col-sm-10 offset-sm-1 col-md-8 offset-md-2">
          <div class="page-header">
            <h1 class="page-header__heading" translate>Settings for <%= user.name %></h1>

            <div class="tabbed">
              <ul>
                <li>
                  <a href="#section-password">Password</a>
                </li>
                <li>
                  <a href="#section-apps">Authorized Apps</a>
                </li>
                <li>
                  <a href="#section-security">Security</a>
                </li>
                <li>
                  <a href="#section-delete">Delete Account</a>
                </li>
              </ul>

              <section id="section-password">
                <h2>Change Password</h2>
                <p>Form here</p>
              </section>

              <section id="section-apps">
                <h2>Authorized Apps</h2>
                <ul>
                  <%
                    user.authorizedClients.forEach(function(client) {
                  %>
                  <li>
                    <span><%= client.name %></span>
                    <button type="button" class="cd-button cd-button--small cd-button--cancel" onclick="removeThisClient(client._id);">
                      <svg class="cd-icon cd-icon--cancel">
                        <use xlink:href="#cd-icon--cancel"></use>
                      </svg>
                    </button>
                  </li>
                  <%
                  });
                  %>
                </ul>
              </section>

              <section id="section-security">
                <h2>Two-factor authentication</h2>
                <p>Status</p>
              </section>

              <section id="section-delete">
                <%- include('delete'); %>
              </section>
            </div>


          </div>
        </div>
      </div>

    </div>
  </main>

</div>
<% include footer %>

<script>
  /* https://inclusive-components.design/tabbed-interfaces */
  (function() {
    // Get relevant elements and collections
    const tabbed = document.querySelector('.tabbed');
    const tablist = tabbed.querySelector('ul');
    const tabs = tablist.querySelectorAll('a');
    const panels = tabbed.querySelectorAll('[id^="section"]');

    // The tab switching function
    const switchTab = (oldTab, newTab) => {
      newTab.focus();
      // Make the active tab focusable by the user (Tab key)
      newTab.removeAttribute('tabindex');
      // Set the selected state
      newTab.setAttribute('aria-selected', 'true');
      oldTab.removeAttribute('aria-selected');
      oldTab.setAttribute('tabindex', '-1');
      // Get the indices of the new and old tabs to find the correct
      // tab panels to show and hide
      let index = Array.prototype.indexOf.call(tabs, newTab);
      let oldIndex = Array.prototype.indexOf.call(tabs, oldTab);
      panels[oldIndex].hidden = true;
      panels[index].hidden = false;
    };

    // Add the tablist role to the first <ul> in the .tabbed container
    tablist.setAttribute('role', 'tablist');

    // Add semantics are remove user focusability for each tab
    Array.prototype.forEach.call(tabs, (tab, i) => {
      tab.setAttribute('role', 'tab');
      tab.setAttribute('id', 'tab' + (i + 1));
      tab.setAttribute('tabindex', '-1');
      tab.parentNode.setAttribute('role', 'presentation');

      // Handle clicking of tabs for mouse users
      tab.addEventListener('click', e => {
        e.preventDefault();
        let currentTab = tablist.querySelector('[aria-selected]');
        if (e.currentTarget !== currentTab) {
          switchTab(currentTab, e.currentTarget);
        }
      });

      // Handle keydown events for keyboard users
      tab.addEventListener('keydown', e => {
        // Get the index of the current tab in the tabs node list
        let index = Array.prototype.indexOf.call(tabs, e.currentTarget);
        // Work out which key the user is pressing and
        // Calculate the new tab's index where appropriate
        let dir = e.which === 37 ? index - 1 : e.which === 39 ? index + 1 : e.which === 40 ? 'down' : null;
        if (dir !== null) {
          e.preventDefault();
          // If the down key is pressed, move focus to the open panel,
          // otherwise switch to the adjacent tab
          dir === 'down' ? panels[i].focus() : tabs[dir] ? switchTab(e.currentTarget, tabs[dir]) : void 0;
        }
      });
    });

    // Add tab panel semantics and hide them all
    Array.prototype.forEach.call(panels, (panel, i) => {
      panel.setAttribute('role', 'tabpanel');
      panel.setAttribute('tabindex', '-1');
      let id = panel.getAttribute('id');
      panel.setAttribute('aria-labelledby', tabs[i].id);
      panel.hidden = true;
    });

    // Initially activate the first tab and reveal the first tab panel
    tabs[0].removeAttribute('tabindex');
    tabs[0].setAttribute('aria-selected', 'true');
    panels[0].hidden = false;
  })();


  function sortedClients() {
    const sorted = this.profile.authorizedClients;
    return sorted.sort((a, b) => a.name.localeCompare(b.name));
  }

  async function asyncData({ route, app: { $hid } }) {
    // URL pattern: /settings/:slug
    const currentTab = '/settings/clients';

    // Get latest user account data.
    const profile = await $hid.$get('/account.json');

    return {
      profile,
      currentTab,
    };
  }

  async function removeThisClient(idToBeRemoved) {
    // Isolate client to be removed so we can prompt user for confirmation.
    const clientToBeRemoved = this.profile.authorizedClients.filter(client => client._id === idToBeRemoved).pop();
    const removalMessage = `Are you sure you want to remove ${clientToBeRemoved.name}? You will need to authorize the application again to access it through Humanitarian ID.`;

    // Prompt user to confirm removal.
    const userConfirmedRemoval = await this.$confirm(removalMessage);

    // If they confirmed, then proceed with removal.
    if (userConfirmedRemoval) {
      // Remove client from the user's profile
      const remainingClients = this.profile.authorizedClients.filter(client => client._id !== idToBeRemoved);
      this.profile.authorizedClients = remainingClients;

      // Update HID API
      this.$hid.$put(`/api/v2/user/${this.me}`, this.profile);
    }
  }


</script>
