<%- include('includes/header') %>
<link rel="stylesheet" href="/assets/css/tabs.css">
<link rel="stylesheet" href="/assets/css/password-toggle.css">
<link rel="stylesheet" href="/assets/css/settings-password.css">

<div class="api-page">
  <main role="main" id="main-content" class="cd-container">
    <div class="cd-layout-content">
      <h1 class="cd-page-title page-header__heading">Settings for <%= user.name %></h1>
      <% include alert.html %>
      <div class="tabbed">
        <nav>
          <li>
            <a href="/settings">Authorized Apps</a>
          </li>
          <li>
            <a href="/settings/password" aria-selected="true">Password</a>
          </li>
          <li>
            <a href="/settings/security">Security</a>
          </li>
          <li>
            <a href="/settings/delete">Delete Account</a>
          </li>
        </nav>

        <section id="section-password">
          <h2>Change Password</h2>
          <form action="/settings/password" method="POST" class="[ flow ]">
            <% if (totpPrompt) { %>
              <div class="form-item [ flow ]">
                <h3>Two-factor authentication</h3>
                <label for="x-hid-totp">Authentication code</label>
                <input
                  type="text"
                  name="x-hid-totp"
                  id="x-hid-totp"
                  autocomplete="one-time-code"
                  placeholder="Authentication code"
                  required>
                <button name="action" value="totp" class="cd-button cd-button--bold cd-button--wide cd-button--uppercase">
                  Verify
                </button>
              </div>
            <% } else { %>
              <div class="form-field">
                <label for="password">Current password</label>
                <input
                  type="password"
                  name="old_password"
                  id="old_password"
                  autocomplete="current-password"
                  required>
                <button type="button" class="password__viz-toggle viz-toggle viz-toggle--see">
                  <span class="visually-hidden">Toggle password visibility</span>
                </button>
              </div>

              <div class="form-field">
                <label for="password">New password</label>
                <input
                  type="password"
                  name="new_password"
                  id="password"
                  autocomplete="off"
                  required
                  minlength="12"
                  pattern="<% include includes/password-regex.html %>"
                  title="See password requirements below.">
                <button type="button" class="password__viz-toggle viz-toggle viz-toggle--see">
                  <span class="visually-hidden">Toggle password visibility</span>
                </button>
              </div>
              <div class="form-field">
                <label for="confirm_password">Confirm new password</label>
                <input
                  type="password"
                  name="confirm_password"
                  id="confirm_password"
                  autocomplete="off"
                  required
                  minlength="12"
                  pattern="<% include includes/password-regex.html %>"
                  title="See password requirements below.">
                <button type="button" class="password__viz-toggle viz-toggle viz-toggle--see">
                  <span class="visually-hidden">Toggle password visibility</span>
                </button>
              </div>
              <div class="form-field">
                <% include includes/password-requirements.html %>
              </div>

              <!--
                here we include a hidden input with the username, per Chrome's
                recommendation for a11y and specifically PW managers in this case.
              -->
              <input type="hidden" name="username" value="<%= user.email %>">

              <div class="form-actions">
                <button name="action" value="submit" class="cd-button cd-button--bold cd-button--wide cd-button--uppercase">
                  Reset password
                </button>
              </div>
            <% } %>
          </form>
        </section>
      </div>
    </div>
  </main>
</div>

<script src="/assets/js/tabs.js"></script>
<script src="/assets/js/password-toggle.js"></script>
<%- include('includes/footer') %>
