<% include header %>
<style><% include ../assets/css/tabs.css %></style>
<style><% include ../assets/css/settings-delete.css %></style>

<div class="api-page">
  <main role="main" id="main-content" class="cd-container">
    <div class="cd-layout-content">
      <h1 class="page-header__heading">Settings for <%= user.name %></h1>
      <% include alert.html %>
      <div class="tabbed">
        <nav>
          <li>
            <a href="/settings">Authorized Apps</a>
          </li>
          <li>
            <a href="/settings/password">Password</a>
          </li>
<!--          <li>-->
<!--            <a href="#section-security">Security</a>-->
<!--          </li>-->
          <li>
            <a href="/settings/delete" aria-selected="true">Delete Account</a>
          </li>
        </nav>

        <section id="section-delete">
          <h2>Delete your HID account</h2>

          <% if (user.is_admin) { %>
            <div class="cd-alert cd-alert--warning">
              <!-- <svg class="cd-icon cd-icon--alert" aria-hidden="true" focusable="false"> -->
                <!-- <use xlink:href="#cd-icon--alert"></use> -->
              <!-- </svg> -->
              <div class="cd-alert__container [ flow ]">
                <div class="cd-alert__title">Admins cannot delete their own account</div>
                <div class="cd-alert__message">
                  <p>Your account is marked as an Admin, so account deletion is not possible.</p>
                </div>
              </div>
            </div>
          <% } else { %>

            <form action="/settings/delete" method="POST" class="[ flow ]">
              <% if (totpPrompt) { %>
                <div class="form-field [ flow ]">
                  <h3>Two-factor authentication</h3>
                  <label for="x-hid-totp">Authentication code</label>
                  <input
                    type="text"
                    name="x-hid-totp"
                    id="x-hid-totp"
                    autocomplete="one-time-code"
                    placeholder="Authentication code"
                    required>
                  <button name="action" value="totp" class="cd-button cd-button--bold cd-button--wide cd-button--uppercase">
                    Verify
                  </button>
                </div>
              <% } else { %>
                <div class="form-field">
                  <p>Deleting your account means that you will lose your access to Humanitarian ID.</p>
                </div>
                <label for="confirm-primary-email" class="form-field cd-alert cd-alert--error">
                  <div class="cd-alert__container">
                    <div class="cd-alert__message [ flow ]">
                      <p>Confirm that you wish to <strong>completely delete your HID account</strong> by typing your primary email address in the field here:</p>
                      <input type="email" name="primary_email" id="confirm-primary-email" placeholder="<%= user.email %>" required pattern="<%= user.email %>" title="Your primary email: <%= user.email %>">
                    </div>
                  </div>
                </label>
                <div class="form-actions">
                  <button name="action" value="submit" class="cd-button cd-button--bold cd-button--wide cd-button--uppercase cd-button--danger">
                    Delete Account
                  </button>
                </div>
              <% } %>
            </form>

          <% } /* user.is_admin */ %>
        </section>
      </div>
    </div>
  </main>
</div>

<% include footer %>

<script><% include ../assets/js/tabs.js %></script>
<script><% include ../assets/js/totp.js %></script>
