<% include header %>
<style><% include ../assets/css/tabs.css %></style>
<style><% include ../assets/css/settings-password.css %></style>

<div class="api-page">
  <main role="main" id="main-content" class="cd-container">
    <div class="cd-layout-content">
      <h1 class="page-header__heading">Settings for <%= user.name %></h1>
      <% include alert.html %>
      <div class="tabbed">
        <ul>
          <li>
            <a href="/settings">Authorized Apps</a>
          </li>
          <li>
            <a href="/settings/password" aria-selected="true">Password</a>
          </li>
<!--          <li>-->
<!--            <a href="#section-security">Security</a>-->
<!--          </li>-->
<!--          <li>-->
<!--            <a href="#section-delete">Delete Account</a>-->
<!--          </li>-->
        </ul>

        <section id="section-password">
          <h2>Change Password</h2>
          <form action="/settings/password" method="POST" onsubmit="return checkForm(this)" class="[ flow ]">
            <div class="form-field">
              <label for="password">Current password</label>
              <input
                type="password"
                name="old_password"
                id="old_password"
                required
                minlength="12"
                pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[!@#$%^&*()+=\\`{}]).+$"
                title="See password requirements below.">
            </div>

            <div class="form-field">
              <label for="password">New password</label>
              <input
                type="password"
                name="new_password"
                id="password"
                required
                minlength="12"
                pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[!@#$%^&*()+=\\`{}]).+$"
                title="See password requirements below.">
            </div>
            <div class="form-field">
              <label for="confirm_password">Confirm new password</label>
              <input
                type="password"
                name="confirm_password"
                id="confirm_password"
                required
                minlength="12"
                pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[!@#$%^&*()+=\\`{}]).+$"
                title="See password requirements below.">
            </div>
            <div class="form-field">
              <p>Passwords must be at least 12 characters long and:</p>
              <ul>
                <li>Contain <strong>one number</strong></li>
                <li>Contain <strong>one uppercase character</strong></li>
                <li>Contain <strong>one lowercase character</strong></li>
                <li>Contain <strong>one special character</strong> <code>!@#$%^&*()+=\`{}</code></li>
                <li>Be different than your previous password</li>
              </ul>
            </div>
            <button
              type="submit"
              class="cd-button cd-button--bold cd-button--wide cd-button--uppercase"
            >Reset password</button>
          </form>
        </section>

<!--        <section id="section-security">-->
<!--          <h2>Two-factor authentication</h2>-->
<!--          <% if (user.totp) { %>-->
<!--          <span class="status" style="color: #777;">Status: <em>Enabled</em></span>-->
<!--          <p>&nbsp;</p>-->
<!--          <button class="cd-button cd-button--style cd-button--dectivate" onclick="goTo('deactivate');">-->
<!--            Deactivate-->
<!--          </button>-->
<!--          <%} else { %>-->
<!--            <span class="status" style="color: #777;">Status: <em>Disabled</em></span>-->
<!--            <p>Two-factor authentication is an effective way to protect your account from unauthorized access. What you need to do to enable this feature:</p>-->
<!--            <ol>-->
<!--              <li>If you don't have one yet, download an authenticator app (e.g. the Google Authenticator - <a href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2&hl=en_GB" target="_blank" rel="noopener">Play Store</a>, <a href="https://itunes.apple.com/us/app/google-authenticator/id388497605?mt=8" target="_blank" rel="noopener">App Store</a>).</li>-->
<!--              <li>Then click on the Activate button below</li>-->
<!--              <li>After you have activated the Two-factor verification on this page you will see a QR-code that you need to scan with your authenticator app or you do the set-up manually.</li>-->
<!--              <li>You'll then be sent a code to your mobile authenticator app.</li>-->
<!--            </ol>-->
<!--            <p>Two-factor authentication is an optional security feature. Once enabled, Humanitarian ID will require a six-digit security code or a security key in addition to your password if you wish to login or change your password. You can also set a device as trusted during login, you will then not be asked a seperate code on this device.</p>-->
<!--            <p>After enabling two-factor authentication, you'll receive 16 backup codes. Copy these codes or download them and store them securely. Once a backup code is used, it can't be used again.</p>-->
<!--            <p>You can remove the two-factor authentication at any point by clicking on ‘Deactivate’ button.</p>-->
<!--            <button class="cd-button cd-button--style cd-button--activate" onclick="requestTotpConfig();">-->
<!--              Activate-->
<!--            </button>-->
<!--          <%# Steps to activate should go here #%>-->
<!--          <% } %>-->
<!--        </section>-->

<!--        <section id="section-delete">-->
<!--          <h2>Delete Account</h2>-->
<!--          <button type="button" class="cd-button cd-button--bold cd-button--delete" onclick="deleteAccount();">-->
<!--            Delete-->
<!--          </button>-->
<!--        </section>-->
      </div>
    </div>
  </main>
</div>

<% include footer %>

<script><% include ../assets/js/passwords.js %></script>
<script><% include ../assets/js/tabs.js %></script>
