<% include header %>

<div class="api-page">
  <main role="main" id="main-content" class="cd-container">
    <div class="cd-layout-content" class="[ flow ]">
      <h1 class="cd-page-title page-header__heading">Two-factor authentication</h1>

      <% include alert.html %>

      <form method="post" action="<%= destination %>" class="[ flow ]">
        <div class="form-field">
          <label for="x-hid-totp" translate>Authentication code</label>
          <input type="text" name="x-hid-totp" id="x-hid-totp" autocomplete="one-time-code" placeholder="Authentication code" required>
        </div>
        <div class="form-field">
          <input type="checkbox" name="x-hid-totp-trust" id="x-hid-totp-trust" value="1"> Save this device for 30 days
        </div>
        <input type="hidden" name="redirect" value="<%= query.redirect %>" />
        <input type="hidden" name="client_id" value="<%= query.client_id %>" />
        <input type="hidden" name="redirect_uri" value="<%= query.redirect_uri %>" />
        <input type="hidden" name="response_type" value="<%= query.response_type %>" />
        <input type="hidden" name="state" value="<%= query.state %>" />
        <input type="hidden" name="scope" value="<%= query.scope %>" />
        <input type="hidden" name="nonce" value="<%= query.nonce %>" />
        <input type="hidden" name="crumb" value="<%= crumb %>" />

        <div class="form-field">
          <button type="submit" class="cd-button cd-button--bold cd-button--wide cd-button--uppercase">
            Verify
          </button>
        </div>
      </form>
    </div>
  </main>
</div>

<script><% include ../assets/js/totp.js %></script>
<% include footer %>
