<% include header %>
<div class="container api-page">
  <main role="main" id="main-content" class="cd-container">
    <div class="cd-layout-content">
      <div class="row">
        <div class="col-sm-10 offset-sm-1 col-md-8 offset-md-2">
          <div class="page-header">
            <h1 class="page-header__heading">Welcome, <%= user.name %></h1>
            <p class="form-field">You are now logged in.</p>
            <p><a href="/logout">Want to logout ?</a></p>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
<% include footer %>
