<%- include('includes/header') %>
<link rel="stylesheet" href="/assets/css/user.css">

<main role="main" id="main-content" class="cd-container t-page--dashboard">
  <div class="cd-layout-content lp [ cd-flow ]">
    <h1 class="cd-page-title page-header__heading">Welcome, <%= user.name %></h1>
    <p class="form-field">You are logged in to HID.</p>

    <p class="lp__buttons [ cd-flow ]">
      <a href="/profile" class="cd-button cd-button--bold cd-button--wide cd-button--uppercase t-btn-profile">Profile</a>
      <a href="/settings" class="cd-button cd-button--outline cd-button--wide cd-button--uppercase t-btn-settings">Settings</a>
      <a href="/logout" class="cd-button cd-button--outline cd-button--wide cd-button--uppercase t-btn-logout">Logout</a>
    </p>
  </div>
</main>

<%- include('includes/footer') %>
