<p>Bonjour <%= user.name %>,</p>

<p>Nous voulions vous informer qu'un de nos managers, <a href="<%= createdBy.getAppUrl() %>"><%= createdBy.name %></a>, a créé
  un profil pour vous sur Humanitarian ID.</p>

<p>Etant donné que vous avez déjà un compte sur Humanitarian ID, vous pouvez tout simplement vous connecter sur <a href="https://humanitarian.id">https://humanitarian.id</a>,
  ajouter et gérer vos détails sur les listes de contacts humanitaaires et trouver facilement d'autres humanitaires.</p>

<p>Si vous voulez en savoir plus à propos de Humanitarian ID et être le premier au courant des nouvelles fonctionnalités,
  visitez <a href="http://about.humanitarian.id">http://about.humanitarian.id</a>, souscrivez à notre liste de diffusion
  et suivez-nous sur les réseaux sociaux.</p>

<% include ../includes/footer_en %>
