---

<p>For assistance with Humanitarian ID, please review our help documentation here: <a href="https://about.humanitarian.id/faqs">https://about.humanitarian.id/faqs</a></p>

<p>For help logging into one of our partner platforms, please contact the help desk for that platform. See our list of <a href="https://about.humanitarian.id/partners-using-our-authentication-service.html">HID Partner Platforms</a></p>

<p>
  The Humanitarian ID team<br>
  More information: <a href="https://about.humanitarian.id">https://about.humanitarian.id</a>
</p>
