---

<p>Pour obtenir de l'aide concernant Humanitarian ID, veuillez consulter notre documentation d'aide ici : <a href="https://about.humanitarian.id/faqs">https://about.humanitarian.id/faqs</a></p>
<p>Pour obtenir de l'aide pour vous connecter à l'une de nos plateformes partenaires, veuillez contacter le service d'assistance de cette plateforme : <a href="https://about.humanitarian.id/partners-using-our-authentication-service.html">https://about.humanitarian.id/partners-using-our-authentication-service.html</a></p>

<p>
  L'équipe Humanitarian ID<br>
  Plus d'informations : <a href="https://about.humanitarian.id">https://about.humanitarian.id</a>
</p>
