<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title translate="">Humanitarian ID</title>
  <base href="{{appBaseUrl}}/index.html">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Noto+Serif:400,700,400italic|Open+Sans:700,400">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800">
  <link rel="stylesheet" href="<%= process.env.ROOT_URL + '/assets/css/main.css' %>">
  <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
</head>
<body ng-app="contactsId" class="pdf">
  <div id="contactsid-app-view-wrapper">
    <div id="contactsid-app" class="contactsid-app">
      <div id="contactsid-app-view" class="container ng-scope" ng-view="">
        <div class="page-list print pdf ng-scope">
          <div class="row page-header">
            <div class="col-sm-8">
              <h1 class="page-header__heading">
                <% if (lists[0]) { %><span class="location"><%= lists[0].name %></span><% } %>
              </h1>
              <p>
                <strong><%= dateGenerated %></br>
                <%= number %> contacts</strong>
              </p>
            </div>
            <div class="col-sm-4">
              <div class="logo">
                <img src="<%= process.env.ROOT_URL + '/assets/img/hid-logo-print.png' %>" width="420" height="66" />
              </div>
            </div>
          </div>

          <div class="row">
           <% if (filters.length) { %>
            <div class="col-xs-12 filters-param-list-wrapper">
              <div class="filters-param-list">
                <div class="filters-param-label">Filter Criteria:</div>
                <% filters.forEach(function (filter) { %>
                <div class="filters-param"><%= filter %></div>
                <% }); %>
              </div>
            </div>
            <% } %>

            <div class="active-contacts col-xs-12">
              <table class="table table-striped" style="position: relative;">
                <thead>
                  <tr>
                    <th translate=""><span class="ng-scope">Name</span></th>
                    <th translate=""><span class="ng-scope">Organization</span></th>
                    <th translate=""><span class="ng-scope">Job Title</span></th>
                    <th translate=""><span class="ng-scope">Phone</span></th>
                    <th translate=""><span class="ng-scope">Email</span></th>
                    <th translate=""><span class="ng-scope">Location</span></th>
                  </tr>
                </thead>
                <tbody>
                  <% results.forEach(function (user) { %>
                  <tr class="profile-item ng-scope">
                    <td class="title-cell"><div class="avoid ng-binding"><%= user.name %></div></td>
                    <td><div class="avoid ng-binding"><% if (user.organization && user.organization.list) { %><%= user.organization.name %><% } %></div></td>
                    <td><div class="avoid ng-binding"><%= user.job_title %></div></td>
                    <td><%= user.phone_number %></td>
                    <td><%= user.email %></td>
                    <td><% if (user.location && user.location.country) { %><%= user.location.country.name %><% } %> <% if (user.location && user.location.region) { %><%= user.location.region.name %><% } %></td>
                  </tr>
                  <% }); %>
                </tbody>
              </table>
            </div>
          </div>
          <div class="print-footer">
            <div class="message"><span translate=""><span class="ng-scope">Powered by</span></span> <span class="title-humanitarian">Humanitarian</span> <span class="title-id">ID</span> - <span translate=""><span class="ng-scope">to update your information, check in to</span></span> <a href="http://humanitarian.id">http://humanitarian.id</a><br>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>
</html>
