<!DOCTYPE html>
<html lang='en'>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title translate="">Humanitarian ID</title>
<base href="{{appBaseUrl}}/index.html">
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Noto+Serif:400,700,400italic|Open+Sans:700,400">
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800">
<link rel="stylesheet" href="<%= process.env.ROOT_URL + '/assets/css/main.css' %>">
<link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
</head>
<body ng-app="contactsId" class="break960 ng-animate print pdf">
  <div id="contactsid-app-view-wrapper">
    <div id="contactsid-app" class="contactsid-app">
<div id="contactsid-app-view" class="container ng-scope" ng-view=""><div class="page-list print pdf meeting meeting-comfortable ng-scope">
  <div class="row page-header">
    <div class="col-xs-8">
      <h1 class="page-header__heading">
        <span class="location">Meeting Attendance</span>
        <% if (lists[0]) { %><br><span><%= lists[0].name %></span><% } %>
      </h1>
      <p><strong><%= dateGenerated %></strong></p>
    </div>
    <div class="col-xs-4">
      <div class="logo">
        <img src="<%= process.env.ROOT_URL + '/assets/img/hid-logo-print.png' %>" width="420" height="66" />
      </div>
    </div>
  </div>

  <div class="row">
    <% if (filters.length) { %>
    <div class="col-xs-12 filters-param-list-wrapper">
      <div class="filters-param-list">
        <div class="filters-param-label">Filter Criteria</div>
        <% filters.forEach(function (filter) { %>
          <div class="filters-param"><%= filter %></div>
        <% }); %>
      </div>
    </div>
    <% } %>
    <div class="active-contacts col-xs-12">
      <table class="table table-striped" cg-busy="contactsPromise">
        <thead>
          <tr>
            <th class="col-xs-2" translate=""><span class="ng-scope">Name</span></th>
            <th class="col-xs-2" translate=""><span class="ng-scope">Organization</span></th>
            <th class="col-xs-2" translate=""><span class="ng-scope">Job Title</span></th>
            <th class="col-xs-2" translate=""><span class="ng-scope">Phone</span></th>
            <th class="col-xs-2" translate=""><span class="ng-scope">Email</span></th>
            <th class="col-xs-2" translate=""><span class="ng-scope">Signature</span></th>
          </tr>
        </thead>
        <tbody>
          <% users.forEach(function (user) { %>
            <tr class="profile-item ng-scope">
              <td class="col-xs-2"><%= user.name %></td>
              <td class="col-xs-2"><% if (user.organization && user.organization.list) { %><%= user.organization.name %><% } %></td>
              <td class="col-xs-2"><%= user.job_title %></td>
              <td class="col-xs-2"><%= user.phone_number %></td>
              <td class="col-xs-2"><%= user.email %></td>
              <td class="col-xs-3">
              </td>
            </tr>
          <% }); %>

           <tr class="profile-item ng-scope">
            <td class="col-xs-2">&nbsp;<br />&nbsp;</td>
            <td class="col-xs-2">&nbsp;<br />&nbsp;</td>
            <td class="col-xs-2">&nbsp;<br />&nbsp;</td>
            <td class="col-xs-2">&nbsp;<br />&nbsp;</td>
            <td class="col-xs-2">&nbsp;<br />&nbsp;</td>
            <td class="col-xs-2">&nbsp;<br />&nbsp;</td>
          </tr>

          <tr class="profile-item ng-scope">
            <td class="col-xs-2">&nbsp;<br />&nbsp;</td>
            <td class="col-xs-2">&nbsp;<br />&nbsp;</td>
            <td class="col-xs-2">&nbsp;<br />&nbsp;</td>
            <td class="col-xs-2">&nbsp;<br />&nbsp;</td>
            <td class="col-xs-2">&nbsp;<br />&nbsp;</td>
            <td class="col-xs-2">&nbsp;<br />&nbsp;</td>
          </tr>

          <tr class="profile-item ng-scope">
            <td class="col-xs-2">&nbsp;<br />&nbsp;</td>
            <td class="col-xs-2">&nbsp;<br />&nbsp;</td>
            <td class="col-xs-2">&nbsp;<br />&nbsp;</td>
            <td class="col-xs-2">&nbsp;<br />&nbsp;</td>
            <td class="col-xs-2">&nbsp;<br />&nbsp;</td>
            <td class="col-xs-2">&nbsp;<br />&nbsp;</td>
          </tr>

          <tr class="profile-item ng-scope">
            <td class="col-xs-2">&nbsp;<br />&nbsp;</td>
            <td class="col-xs-2">&nbsp;<br />&nbsp;</td>
            <td class="col-xs-2">&nbsp;<br />&nbsp;</td>
            <td class="col-xs-2">&nbsp;<br />&nbsp;</td>
            <td class="col-xs-2">&nbsp;<br />&nbsp;</td>
            <td class="col-xs-2">&nbsp;<br />&nbsp;</td>
          </tr>

          <tr class="profile-item ng-scope">
            <td class="col-xs-2">&nbsp;<br />&nbsp;</td>
            <td class="col-xs-2">&nbsp;<br />&nbsp;</td>
            <td class="col-xs-2">&nbsp;<br />&nbsp;</td>
            <td class="col-xs-2">&nbsp;<br />&nbsp;</td>
            <td class="col-xs-2">&nbsp;<br />&nbsp;</td>
            <td class="col-xs-2">&nbsp;<br />&nbsp;</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="print-footer">
    <div class="message">
      <span translate><a href="https://humanitarian.id">Humanitarian ID</a> is a shared and collaborative contact management tool supported by UNOCHA. As per <a href="http://www.un.org/en/sections/about-website/terms-use/">United Nations Terms of Use</a>, materials provided on this Site are provided “as is”, without warranty of any kind, either express or implied, including, without limitation, warranties of merchantability, fitness for a particular purpose and non-infringement. The United Nations specifically does not make any warranties or representations as to the accuracy or completeness of any such Materials.</span>
      <span translate=""><span class="ng-scope">Powered by</span></span> <span class="title-humanitarian">Humanitarian</span> <span class="title-id">Id</span> - <span translate=""><span class="ng-scope">to update your information, check in to</span></span> <a href="http://humanitarian.id">http://humanitarian.id</a><br>
    </div>
  </div>
</div>
</div>
    </div>
  </div>

</body>
</html>
