<p>Cher/chère <%= user.name %>,</p>

<p>Merci d'être membre de Humanitarian ID.</p>
<p>Nous vous informons que les fonctionnalités de gestion des contacts de HID seront mises hors service en janvier 2021, conformément à son cadre technologique <a href="https://blog.angular.io/stable-angularjs-and-long-term-support-7e077635ee9c">en raison de la fin de vie de sa base technologique</a>. Veuillez noter que vous pouvez continuer à utiliser la plateforme jusqu'à cette date, mais nous vous recommandons <a href="https://docs.google.com/document/d/14x-wL1Yr0Il4gKgVuMxlP3GnaVyanS-QFhgUcCe1M50/edit?usp=sharing">d'exporter tous les contacts et listes</a> pertinents à l'avance.</p>
<p>Veuillez noter que cela <strong>n'affectera PAS le service d'authentification HID</strong> (HID login) qui restera fonctionnel et vous pourrez continuer à accéder <a href="https://about.humanitarian.id/partners-using-our-authentication-service">aux plateformes intégrées</a> avec HID à l'aide de vos informations d'identification actuelles.</p>
<p>Si vous avez des questions sur ces changements ou avez besoin d'assistance, contactez-nous à info@humanitarian.id.</p>
<br>
<p>Bien cordialement,</p>

<% include ../../includes/footer_fr %>
