<p>Cher/chère <%= user.name %>,</p>

<p>En suite à notre communication précédente (mai 2020), nous souhaitons vous rappeler que les fonctionnalités de gestion des contacts de Humanitarian ID (HID) seront désactivées le 1er janvier 2021.</p>
<p>À compter de la date de mise hors service, toutes les listes et données de contact dans HID ne seront plus disponibles. Nous vous recommandons donc fortement d'exporter toutes les données pertinentes que vous avez conservées dans HID; <a href="https://docs.google.com/document/d/14x-wL1Yr0Il4gKgVuMxlP3GnaVyanS-QFhgUcCe1M50/edit">un guide d'exportation peut être trouvé ici</a>.</p>
<p>Veuillez noter que votre capacité à vous connecter <a href="https://about.humanitarian.id/partners-using-our-authentication-service">aux plates-formes intégrées</a> de HID avec un compte HID existant ne sera pas affectée par ces changements. </p>
<p>À partir de cette même date, l'équipe HID ne fournira plus de contrôle qualité des données détenues dans HID et garantira une prise en charge uniquement pour les demandes liées à l'authentification (login).</p>

<br>
<p>Bien cordialement,</p>

<% include ../../includes/footer_fr %>
