<p>Dear <%= user.name %>,</p>

<p>We wanted to let you know that your global Humanitarian ID profile has been updated by one of our global managers <%= createdBy.name %>.</p>

<p>We invite you to check your profile and make sure the updated information is correct.</p>

<% include ../includes/footer_en %>
