<p>Bonjour <%= user.name %>,</p>

<p><%= createdBy.name %> vous a donné le rôle de manager sur la liste <%= params.list.name %> sur Humanitarian ID.</p>

<p>Avec le lien ci-dessous, vous pouvez gérer la liste de contacts. Vous pouvez aussi retrouver cette liste dans l'onglet "Lists I manage" depuis votre dashboard.</p>

<p><a href="">Cliquez ici pour ouvrir la liste TODO</a></p>

<% include ../../includes/footer_fr %>

