<p>Bonjour <%= user.name %>,</p>

<p><%= createdBy.name %> a demandé à faire partie de vos connexions pour voir votre profil complet. Pour approuver cette requête, veuillez vous connecter à Humanitarian ID et aller sur votre profil.</p>

<% include ../../includes/footer_fr %>
