<p>Bonjour <%= user.name %>,</p>

<p>Votre mot de passe Humanitarian ID a expiré.</p>

<p>Pour changer votre mot de passe, veuillez suivre les instructions ci-dessous:</p>

<ol>
  <li>Allez à: <a href="https://humanitarian.id/password_reset">https://humanitarian.id/password_reset</a></li>
  <li>Entrez votre adresse email et cliquez sur 'Modifier le mot de passe'</li>
  <li>Vous allez recevoir un email de info@humanitarian.id. Cliquez sur le lien dans cet email et suivez les étapes pour réinitialiser votre mot de passe.</li>
  <li>Déconnectez-vous une fois terminé.</li>
</ol>

<p>Merci,</p>

<% include ../../includes/footer_fr %>
