<p>Bonjour <%= user.name %>,</p>

<p>Conformément aux règlements de l'ONU, le mot de passe, comme mesure de sécurité, doit être changé tous les six mois. Nous souhaitons vous rappeler que votre mot de passe expirera aujourd'hui. Sachez qu'une fois que le mot de passe expiré, vous ne pourrez plus accéder au site Web <a href="https://humanitarian.id">Humanitarian ID</a> ni aux site webs <a href="https://about.humanitarian.id/partners-using-our-authentication-service">partenaires</a>.</p>

<p>Pour changer votre mot de passe, cliquez simplement sur le lien suivant : <a href="https://auth.humanitarian.id/password">https://auth.humanitarian.id/password</a></p>

<p>Vous pouvez également modifier votre mot de passe à partir de votre profil sur le site web de Humanitarian ID.</p>

<p>Si vous avez des questions, n'hésitez pas à nous contacter : info@humanitarian.id</p>

<p>Cordialement,</p>

<% include ../../includes/footer_fr %>
