<p>Dear <%= name %>,

<p>Thank you for joining Humanitarian ID. To complete the registration, we need you to confirm your account by clicking on the link below. Please note that this is a one-time use link and it will remain valid for 24 hours.</p>

<a href="<%= reset_url %>"><%= reset_url %></a>

<p>In case the link has expired, you can request a new one, by clicking here: <a href="https://auth.humanitarian.id/password">Request new link</a>.</p>

<p>Please make sure you confirm your account within the next 7 days, otherwise it will be deleted.</p>

<p>Kind regards,</p>
<% include ../includes/footer_en %>
