<p>Dear <%= user.name %>,</p>

<p>Following UN regulations, as security measure passwords must be updated every six months. We would like to remind you that your Humanitarian ID password will expire in seven days.
  Please be informed that once the password expires you will not be able to access the Humanitarian ID website and any of the partner platforms.</p>

<p>To change your password, simply click on the following link: <a href="https://auth.humanitarian.id/password">https://auth.humanitarian.id/password</a></p>

<p>Or alternatively, you can also change the password by clicking on your name, then "Preferences" and "Change Password".</p>

<p>If you have any questions, do not hesitate to contact us: info@humanitarian.id</p>

<p>Thank you,</p>

<% include ../includes/footer_en %>
