<p>Bonjour <%= user.name %>,</p>

<p><%= createdBy.name %> vous a retiré de la liste <%= params.list.name %>.</p>

<p>Si ceci est incorrect, nous vous prions de bien vouloir vous connecter sur Humanitarian ID et de vous réinscrire.</p>

<% include ../../includes/footer_fr %>

