<p>Bonjour <%= name %>,</p>
<p>Nous avons reçu une requête indiquant que vous voulez renouveler votre mot de passe sur Humanitarian ID. En cliquant sur le lien ci-dessous vous pouvez changer votre mot de passe.</p>
<p><a href="<%= resetLink %>"><%= resetLink %></a></p>
<p>Veuillez noter qu'il s'agit d'un lien à usage unique et qu'il restera valide pendant 24 heures. Si le lien a expiré, vous pouvez redéfinir votre mot de passe en cliquant ici : <a href="<%= passwordUrl %>">Réinitialiser mon mot de passe</a>.</p>
<p>Si vous ne souhaitez pas réinitialiser votre mot de passe, veuillez ignorer ce message et votre mot de passe ne sera pas modifié.</p>

<% include ../../includes/footer_fr %>
