<p>Bonjour <%= name %>,</p>

<p>Nous avons reçu une requête indiquant que vous voulez renouveler votre mot de passe sur Humanitarian ID. En cliquant sur le lien ci-dessous vous pouvez changer votre mot de passe.</p>

<p><a href="<%= reset_url %>"><%= reset_url %></a></p>

<p>Ceci est un lien valide une seule fois. Si vous devez réinitialiser votre mot de passe à nouveau, cliquez ici: <a href="<%= appResetUrl %>">Réinitialiser mon mot de passe</a>.</p>

<p>Si vous ne voulez pas réinitialiser votre mot de passe, vous pouvez ignorer ce message et votre mot de passe ne sera pas changé. Si vous avez des questions ou remarques, veuillez contacter le support Humanitarian ID (info@humanitarian.id).</p>

<% include ../../includes/footer_fr %>
