<p>Bonjour <%= name %>,</p>

<p>Nous avons reçu une requête indiquant que vous voulez renouveler votre mot de passe sur Humanitarian ID. En cliquant sur le lien ci-dessous vous pouvez changer votre mot de passe.</p>

<p>Si vous n’avez pas effectué cette requête, veuillez nous transférer ce courriel à l’adresse info@humanitarian.id.</p>

<p><a href="<%= reset_url %>"><%= reset_url %></a></p>

<% include ../../includes/footer_fr %>
