<p>Dear <%= user.name %>,</p>

<p>Your Humanitarian ID profile got verified almost a year ago. We want to make sure that verified users keep their profile up to date at least once a year.</p>

<p>Please update your profile information and send us an email to info@humanitairan.id to confirm it is current if you would like to remain verified.</p>

<p>In case you will not get in touch with us, your profile will be automatically unverified in seven days. However you will still be able to use your Humanitarian ID account as unverified user.</p>

<p>Please do not hesitate to get in contact if you have any questions.</p>

<% include ../includes/footer_en %>
