<p>Dear <%= user.name %>,</p>

<p>You are a verified user. We would like to inform you that your verifcation will expire in seven days.</p>

<p>If you would like to get re-verified, please contact info@humanitarian.id</p>

<% include ../includes/footer_en %>
