<p>Dear <%= user.name %>,</p>

<p>We wanted to let you know that one of our managers, <a href="<%= createdBy.getAppUrl() %>"><%= createdBy.name %></a>, has created
  a profile for you on Humanitarian ID.</p>

<p>As you already have a Humanitarian ID account, you can simply log in at <a href="https://humanitarian.id">https://humanitarian.id</a>,
  add and manage your details on humanitarian contact lists as well as easily find other responders.</p>

<p>If you would like to learn more about Humanitarian ID and be the first to hear about new features,
  visit <a href="http://about.humanitarian.id">http://about.humanitarian.id</a>, join our mailing list and
  follow us on social media.</p>

<% include ../includes/footer_en %>
